:root {
    --cor-principal: #1C3464;
    --cor-principal-claro: #203866;
    --cor-amarelo: #E3B652;
    --cor-amarelo-hover: #cca44d;
    --cor-azul: #45BEE6;
    --fonte: "Poppins", serif;
}

#img-inicio img{
    width: 300px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

section .container{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    max-width: 730px;
}

section .container #secao-1{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#secao-1 #container-esq{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#secao-1 #container-esq .visaogeral{
    display: flex;
    gap: 15px;
}

#secao-1 #container-esq h1{
    color: var(--cor-principal);
    font-weight: 400;
    font-size: 35px;
}

#secao-1 #container-esq h4{
    color: var(--cor-azul);
    font-weight: 400;
    font-size: 18px;
}

#secao-1 #container-esq .visaogeral .info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3B652;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
}

#container-esq .visaogeral .info span{
    font-size: 14px;
}

#container-esq .visaogeral .info span{
    font-size: 14px;
}

/* SEÇÃO 2 */
#secao-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#secao-2 h2 {
    color: var(--cor-azul);
    font-weight: 400;
}

#boxCard {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

#boxCard .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;    
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
}

.card .text-card h4 {
    font-weight: 600;
}

.text-card p {
    color: grey;
    font-weight: 600;
    font-size: 12px;
}

.text-card span {
    font-weight: 400;
    color: silver;
    font-size: 12px;
}

#boxCard .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;   
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#boxCard .card .icon img {
    width: 30px;
    height: 30px;
}

.icon#icon_money {
    background-color: #55E18B;
}
.icon#icon_heart {
    background-color: #FF5A79;
}
.icon#icon_hug {
    background-color: #62D8FF;
}

#boxCard .card .icon#icon_money img {
    width: 35px;
}

#boxCard .card .icon#icon_hug img {
    width: 25px;
    height: 25px;
}