body {
  background-color: var(--cor-principal);
}

a {
  text-decoration: none;
}

#nav-bar ul li:nth-child(1) a {
  color: var(--cor-amarelo);
  font-weight: bold;
}

.secoes {
  padding: 0 10px;
}

#secao-1 {
  min-height: calc(100vh - 60px);
  display: flex;
  padding-block: 20px;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 60px;
}

#secao-1 .container {
  background-color: var(--cor-principal-claro);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;
  padding: 50px;
  width: 100%;
  justify-content: space-between;
}

#secao-1 .container #area-texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 400px;
  gap: 10px;
}

#area-texto h1 {
  font-size: clamp(30px, 5vw, 2.5em);
  color: var(--cor-amarelo);
  margin: 0;
  line-height: 1;
}

#area-texto p {
  color: aliceblue;
}

#area-texto button {
  transform: translateY(0);
}

#area-texto button:hover {
  transform: translateY(-3px);
  color: aliceblue;
}

/* Área Imagem */
#area-img {
  max-width: 400px;
}

#area-img img {
  width: 100%;
}

@media (max-width: 990px) {
  #secao-1 .container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  #secao-1 .container #area-texto {
    align-items: center;
  }
}


/* SEÇÃO 2 */
#secao-2 {
  min-height: calc(100vh - 60px);  
  background-color: aliceblue;
  scroll-margin-top: 60px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  /* 
  display: flex;
  align-items: center;
  padding: 40px 20px; */
}

#secao-2 .container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#secao-2 h1 {
  font-size: 2em;
  color: var(--cor-principal);
  line-height: 1;
}

/* CARD DA ONG */
.box-ongs {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 1204px) {
  #secao-2 .container {
    align-items: center;
  }

  .box-ongs {
    justify-content: space-evenly;
  }
}

@media (max-width: 450px) {
  #secao-2 h1,
  #secao-3 h1 {
    font-size: 28px;
  }
}

/* SEÇÃO 3 */

#secao-3 .container {
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
}

#secao-3 h1 {
  font-size: 2em;
  color: var(--cor-amarelo);
}

@media (max-width: 450px) {
  #secao-3 h1 {
    font-size: 28px;
  }
}

#secao-3 #info {
  display: flex;
  width: 100%;
  gap: 30px;
}

@media (max-width: 770px) {
  #secao-3 #info {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#secao-3 #info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
  gap: 15px;
  background-color: var(--cor-principal-claro);
  transition: .3s;
}

#secao-3 #info div:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

#secao-3 #info div i {
  font-size: 60px;
  color: var(--cor-amarelo);
}

#secao-3 #info div h3 {
  color: aliceblue;
  font-weight: 500;
}

#secao-3 #info div p {
  font-size: 14px;
  color: slategrey;
}

#secao-3 #info div a {
  background-color: var(--cor-amarelo);
  text-decoration: none;
  color: var(--cor-principal);
  font-size: 13.5px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  letter-spacing: 1px;
  transition: .3s;
}

#secao-3 #info div a:hover {
  background-color: var(--cor-amarelo-hover);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#secao-3 #scroll-home {
  width: 40px;
  height: 40px;
  border: none;
  border: 3px solid var(--cor-amarelo);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: var(--cor-amarelo);
  font-size: 18px;
  transform: translateY(0);
  transition: .3s;
}

#secao-3 #scroll-home:hover {
  filter: brightness(.7);
  transform: translateY(-4px);
}