body {
  background-color: var(--cor-principal);
}

#nav-bar ul li:nth-child(1) a {
  color: var(--cor-amarelo);
  font-weight: bold;
}

.secoes {
  padding: 0 20px;
}

#secao-1 {
  min-height: calc(100vh - 60px);
  display: flex;
  padding-block: 20px;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 60px;
}

#secao-1 .container {
  background-color: var(--cor-principal-claro);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;
  padding: 50px;
  width: 100%;
  justify-content: space-between;
}

#secao-1 .container #area-texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 400px;
  gap: 10px;
}

#area-texto h1 {
  font-size: clamp(30px, 5vw, 2.5em);
  color: var(--cor-amarelo);
  margin: 0;
  line-height: 1;
}

#area-texto p {
  color: aliceblue;
}

#area-texto button {
  transform: translateY(0);
}

#area-texto button:hover {
  transform: translateY(-3px);
  color: aliceblue;
}

/* Área Imagem */
#area-img {
  max-width: 400px;
}

#area-img img {
  width: 100%;
}

@media (max-width: 990px) {
  #secao-1 .container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  #secao-1 .container #area-texto {
    align-items: center;
  }
}


/* SEÇÃO 2 */
#secao-2 {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  scroll-margin-top: 60px;
  background-color: aliceblue;
  padding: 40px 20px;
}

#secao-2 .container {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

#secao-2 h1 {
  font-size: 2em;
  color: var(--cor-principal);
  line-height: 1;
}

/* CARD DA ONG */
.box-ongs {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1204px) {
  #secao-2 .container {
    align-items: center;
  }

  .box-ongs {
    justify-content: space-evenly;
  }
}

@media (max-width: 450px) {
  #secao-2 h1,
  #secao-3 h1 {
    font-size: 28px;
  }
}

/* SEÇÃO 3 */

#secao-3 .container {
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
}

#secao-3 h1 {
  font-size: 2em;
  color: var(--cor-amarelo);
}

@media (max-width: 450px) {
  #secao-3 h1 {
    font-size: 28px;
  }
}

#secao-3 #info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
}

#secao-3 #info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
  gap: 15px;
  background-color: var(--cor-principal-claro);
  transition: .3s;
}

#secao-3 #info div:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

#secao-3 #info div i {
  font-size: 60px;
  color: var(--cor-amarelo);
}

#secao-3 #info div h3 {
  color: aliceblue;
  font-weight: 500;
}

#secao-3 #info div p {
  font-size: 14px;
  color: slategrey;
}

#secao-3 #scroll-home {
  width: 40px;
  height: 40px;
  border: none;
  border: 3px solid var(--cor-amarelo);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: var(--cor-amarelo);
  font-size: 18px;
  transform: translateY(0);
  transition: .3s;
}

#secao-3 #scroll-home:hover {
  filter: brightness(.7);
  transform: translateY(-4px);
}

#body-empresas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #00000073;
}

#body-empresas.ativo {
  display: flex;
}

.container-empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
}

.h1u {
  font-size: 22px;
  color: #1C3464;
  margin-bottom: 20px;

}

.grid {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  padding: 15px;
  width: 150px;
  height: 100px;
  /* Ajuste opcional para manter tamanho uniforme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: .3s;

}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 70px;
  height: auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.page-btn {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09);
  transform: translateY(0);
  transition: .5s;
}

.page-btn:hover {
  transform: translateY(-5px);
}

.page-btn:hover {
  background: #1C3464;
  color: #ffffff;
}

.partner-btn {
  background-color: #E3B652;
  color: #1C3464;
  border: none;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.a:hover {
  background: #c39b43;
}

@media (max-width:700px) {
  .container-empresas {
    gap: 0px;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .grid {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .card {
    width: 120px;
    height: 80px;
    /* Ajuste opcional para manter tamanho uniforme */
  }

  .card img {
    max-width: 60px;
    height: auto;
  }
}

#body-forma {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #00000073;
}

#body-forma.ativo {
  display: flex;
}

.conteiner-forma {
  background-color: #1C3464;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  height: 330px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#body-empresas h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 400;
}

#body-empresas .Cnpj {
  color: #E3B652;
}

#body-empresas .mens {
  color: #E3B652;
}

#body-empresas form {
  display: flex;
  flex-direction: column;
}

#body-empresas label {
  font-size: 14px;
  margin-bottom: 5px;
}

#body-empresas input,
#body-empresas textarea {
  background-color: #2d4b7a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

#body-empresas input::placeholder,
#body-empresas textarea::placeholder {
  color: #6C8CCA;
}

#body-empresas .botoes button {
  background-color: #E3B652;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 15px 210px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

#body-empresas button:hover {
  background-color: #dda439;
  top: 100px;
}

#body-empresas .botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#body-empresas .botoes .btn-voltar {
  text-decoration: none;
  background-color: #2d4b7a;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
}

@media (max-width:700px) {
  .conteiner-forma {
    width: 300px;
    height: 400px;
  }

  #body-empresas .botoes button {
    padding: 12px 70px;
    font-size: 12px;
  }
}