body {
    background-color: aliceblue;
}

main .container {
    flex-direction: column;
}
 
main .container h1 {
    font-size: 50px;
    color: var(--cor-principal);
    text-align: center;
    line-height: 1;
}

.caixa-noticias {
    display: flex;
    gap: 15px 0;
    flex-direction: column;    
}

.container-cards {
    display: flex;
    gap: 30px;  
    flex-wrap: wrap;
    justify-content: space-between;
}   


.sub-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub-title h2#em-destaque {
    color: red;
}

.sub-title h2#saude {
    color: rgb(255, 0, 128);
}

.sub-title .icon-img {
    width: 40px;
    height: 40px;
    padding: 7px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sub-title .icon-img img {
    width: 100%;
}

.group-caixa {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    /* background-color: red; */
}

.group-caixa .caixa-noticias {
    width: fit-content;
}

.group-caixa .caixa-noticias .container-cards {
    flex-direction: column;
}
    

/* .cards-saude {
    
    display: flex;
    flex-direction: column;
    gap: 30px 0;

} */

/* .coracao {
    display: flex;
    align-items: center;
    gap: 15px;
    color:#F047FF;
    & .icon {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size:25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon img {
        width: 70%;
        height:70%;
    };
}



.caixote-saude {
    display: flex;
    gap:40px;
    margin-top: 50px;
    flex-wrap: wrap;    
    justify-content: space-between;
    width: 100%;
}



.bola {
    display: flex;
    align-items: center;
    gap: 15px;
    color:#30AD1A;
    & .icon {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size:25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon img {
        width: 70%;
        height:70%;
    };
}

.caixote-saude .card{
    margin-top: 20px;

}

.meio-ambiente {
    display: flex;
    align-items: center;
    gap: 15px;
    color:#30AD1A;
    & .icon {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size:25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon img {
        width: 70%;
        height:70%;
    };
}



.educacao {
    display: flex;
    align-items: center;
    gap: 15px;
    color:#007AFF;
    & .icon {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size:25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon img {
        width: 70%;
        height:70%;
    };
}


@media(max-width: 1175px) {
    .cards{
        justify-content: center;
    }
     .caixa-noticias {
        max-width: 550px;
        
     }

     .fogo {
        margin-bottom: 10px;
     }
     .caixote-saude {
        justify-content: center;
     }


    
} */