@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", serif;
}

:root {
    --backgroud: #1C3464;
    --container-background: #FFFFFF;
    --title: #5282E3;
    --input-background: #00000022;
    --button: #E3B652;
    --button-hover: #9747FF;
}

body {
    width: 100%;
    z-index: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroud);
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: #5282E3;
}

a {
    text-decoration: none;
    transition: 0.7s;

}

a:hover {
    transition: 0.7s;
    color: #E3B652;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    padding: 8px;
    z-index: 999;
    width: 100%;
    background-color: var(--backgroud);
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #5282E3;
}

#logo>img {
    width: 50%;
}

#header-direita {
    display: flex;
    padding: 10px 30px;
    gap: 60px;
    align-items: center;
}

#btn-invisible {
    display: none;
}

nav a {
    gap: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 3px;
}

nav ul li {
    display: inline-block;
}

#hamburger {
    display: none;
}

#hamburger-menu {
    display: none;
}

#botao-hamburger {
    display: none;
}

#busca {
    width: 70%;
}

#btn-login {
    padding: 10px 15px;
    background-color: #E3B652;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

#btn-login:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #E3B652;
}

/* #principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 800px;
    margin: 180px auto;
    background-color: var(--container-background);
    border-radius: 8px;
    padding: 30px 60px 0px 60px;
} */
#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 60%;
    margin: 120px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

.buscar {
    position: relative;
    /* float: right; */
    border: solid 3px #00000084;
    width: 400px;
    height: 59px;
    border-radius: 50px;
    flex-wrap: wrap;
}

#buscar {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 22px;
    border: none;
    margin-top: 15px;
    flex-wrap: wrap;
}

#buscar:focus {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 22px;
    border: none;
    outline: none;
    margin-top: 15px;
}

.search_img {
    /* border: solid 1px black; */
    float: right;
    margin: 7px 19px 0px 0px;
    /* position: absolute; */
}

.ongs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    /* height: 800px; */
}

.card_ong {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 200px;
    background-color: var(--container-background);
    box-shadow: 0 0 20px #0000006d;
    border-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-text {
    padding-left: 15px;
    font-size: 17px;
    font-weight: 500;
    color: var(--backgroud);
}

.btn_card {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 17px;
    font-family: "Poppins", serif;
    font-weight: 450;
    background-color: var(--button);
    width: 170px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}

.btn_card:hover {
    background-color: #fafafa;
    color: var(--button);
    box-shadow: 0 0 7px #0000004c;
}

.top-text {
    font-size: 28px;
    color: var(--backgroud);
    font-weight: 500;
}
.card_img {
    width: 200px;
}
.botoes {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}
.btn_nav {
    /* border: solid 1px #0000004c; */
    border: none;
    font-family: "Poppins", serif;
    font-size: 17px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    background-color: var(--container-background);
    box-shadow: 0 4px 5px #0000006d;
    border-radius: 5px;
    transition: 0.4s;
}
.btn_nav:hover {
    background-color: black;
    color: white;
}