#aside-container #area-topo a:nth-child(4) {
    color: var(--cor-azul);
}

main.conteudo-principal section {
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
}

section .container {
    flex-direction: column;
    gap: 40px;
}

section .container h1 {
    font-size: 24px;
    width: 100%;
}

section .container h1 i {
    color: var(--cor-azul);
}

section .container .box-apoios {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-doar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-doar a {
    text-decoration: none;
}

.btn-doar h4 {
    font-weight: 500;
    text-align: center;
}

.btn-doar#btn-doar-ong .btn {
    background-color: var(--cor-amarelo);
}

.btn-doar .btn {
    background-color: var(--cor-azul);
}