@import url(../../global/cadastro.css);

.line #linhaClara,
.line #linhaAzul {
    background-color: #ccdbff;
    height: 3px;
    width: 67%;
    position: absolute;
    top: 11px;
}

.line #linhaAzul {
    width: 0%;
    background-color: var(--cor-principal);
    left: 15%;
    transition: .5s ease-out;
}