main.conteudo-principal section {
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section > h1 {
    font-size: 24px;
}

section h1 i {
    color: var(--cor-azul);
}

#aside-container #area-topo a:nth-child(1) {
    color: var(--cor-azul);
}

.cards-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-doar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-doar h4 {
    font-weight: 600;
    text-align: center;
}

.btn-doar .btn {
    background-color: var(--cor-azul);
}

.btn-doar a {
    text-decoration: none;
}

/* Cards */
.card-doacao {
    flex: 1 1 400px;
    padding: 8px;
    border-radius: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .3s;
}

.card-doacao:hover {
    transform: translateY(-3px);
}

/* Imagem */
.card-doacao .img {
    /* background-color: rgb(49, 49, 49); */
    background-color: #eff1f3;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 3px;
    width: 100%;
    min-width: 75px;
    max-width: 75px;
    height: 75px;
    /* object-fit: fill; */
    border-radius: 50%;
    overflow: hidden;
}

.card-doacao .img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-doacao .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}

.card-doacao .info h4 {
    font-weight: 600;
    line-height: 1;
}

.card-doacao .info h4 a {
    text-decoration: none;
    color: var(--cor-principal);
}

.card-doacao .info small {
    color: #aaa;
}

.card-doacao .info small:first-of-type {
    color: var(--cor-verde);
    font-weight: 600;
}

.card-doacao form {
    margin-left: auto;
    align-self: center;
}

.card-doacao .btn {
    background-color: var(--cor-azul);
    display: flex;
    margin-left: auto;
    align-self: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
}
/* Popup doação */

.input-grupo {
    margin-bottom: 20px;
}

.input-grupo,
.credit-card-popup input {
    color: #666;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
}

.row .input-grupo:first-child {
    flex: 2;
}

.row .input-grupo:last-child {
    flex: 1;
}

.cvv {
    max-width: 80px;
}
#popup-adicionar-cartao {
    padding: 10px;
}

.credit-card-popup {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

.input-grupo {
    margin-bottom: 20px;
}

.input-grupo,
.credit-card-popup input {
    color: #666;
}

.credit-card-popup label {
    display: block;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.credit-card-popup input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.credit-card-popup input::placeholder {
    color: #999;
}

@media (max-width: 500px) {
    .card-doacao h4 {
        font-size: 14px;
    }

    .card-doacao small {
        font-size: 11px;
    }
}