#nav-bar ul li:nth-child(1) a {
    color: var(--cor-amarelo);
    font-weight: bold;
}

#img-inicio img{
    width: 300px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
}

section .container{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    border-radius: 12px;
    width: 1200px;
    height: fit-content;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    gap: 30px;
}

section .container #secao-1{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

#secao-1 #container-esq{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#secao-1 #container-esq .visaogeral{
    display: flex;
    gap: 15px;
}

#secao-1 #container-esq h1{
    color: var(--cor-principal);
    font-weight: 400;
    font-size: 35px;
}

#secao-1 #container-esq h4{
    color: #007AFF;
    font-weight: 400;
    font-size: 20px;
}

#secao-1 #container-esq .visaogeral .info {
    color: #0E4658;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3B652;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
    transition: .3s;
    transform: translateY(0);
    font-size: 20px;
    width: 190px;
    height: 102px;
}

#secao-1 #container-esq .visaogeral .info:hover {
    transform: translateY(-3px);
}

#container-esq .visaogeral .info span{
    font-size: 18px;
}

/* SEÇÃO 2 */
#secao-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#secao-2 h3 {
    color: #007AFF;
    font-weight: 400;
    font-size: 20px;
}

#boxCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content: space-evenly;
}

#boxCard .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;    
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    transition: .3s;
}

#boxCard .card:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.card .text-card h4 {
    font-weight: 600;
}

.text-card p {
    color: grey;
    font-weight: 600;
    font-size: 12px;
}

.text-card span {
    font-weight: 400;
    color: silver;
    font-size: 12px;
}

#boxCard .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;   
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#boxCard .card .icon img {
    width: 30px;
    height: 30px;
}

.icon#icon_money {
    background-color: #55E18B;
}
.icon#icon_heart {
    background-color: #FF5A79;
}
.icon#icon_hug {
    background-color: #62D8FF;
}

#boxCard .card .icon#icon_money img {
    width: 35px;
}

#boxCard .card .icon#icon_hug img {
    width: 25px;
    height: 25px;
}


/* SEÇÃO 3 */
#secao-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#secao-3 .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#secao-3 h3 {
    color: #007AFF;
    font-weight: 400;
    font-size: 20px;
}

#card-projeto {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    #secao-1 {
        flex-direction: column-reverse;
    }
}


@media (max-width: 700px) {
    #secao-1 {
        flex-direction: column-reverse;
    }

    #secao-2 {
        width: 100%;
    }

    #boxCard {
        flex-direction: column;
        align-items: center;
    }

    #card-projeto {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        text-align: center;
    }
}

#meu-perfil {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#meu-perfil.ativo{
    display: flex;
}

.container-meu-perfil {
    display: flex;
    background: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.348);
    overflow: hidden;
}

.imge{
    width: 20px;
}


/* Barra lateral */
.sidebar {
    background: #ffffff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 12px  #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ddd;
}

.username {
    font-size: 24px;
    margin: 10px 0;
}

.email {
    font-size: 16px;
    color: #66666692;
}

.logout {
    display: flex;
    align-items: center;
    margin-top: 310px;
    padding: 10px;
    width: 220px;
    height: 50px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

.logout span{
    padding-right: 20px;
}

.logout:hover {
    background: #c0392b;
}

/* Conteúdo principal */
.main-content {
    flex: 1px;
    padding: 20px;
    
}
.info-se{
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.401);
    border-radius: 5px;
    padding: 15px;

}

h2 {
    color: #007bff;
    margin-bottom: 15px;
}
.infose {
    box-shadow: 0 3px 7px rgba(60, 60, 60, 0.401);
    margin-bottom: 10px;
    padding: 15px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border-radius: 3px;
    /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.401); */
}

.info {
    margin-bottom: 42px;
    
}
.infon{
    width:50%;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-box {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ededed;

}
.input-email {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ededed;
    width: 50%;
}
.input-email input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    cursor: default;
}

.input-box span {
    font-size: 16px;
    margin-right: 10px;
}

.input-box input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    cursor: default;
}

/* Botão de alterar senha */
.change-password {
    width: 50%;
    padding: 10px;
    background: #f4f4f4;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.change-password:hover {
    background: #d3d3d3e6;
}

#fundo-confirmacao{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 0;
}

#confirmacao{
    display: flex;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#fundo-confirmacao.ativo{
    display: flex;
}

#confirmacao div{
    display: flex;
    gap: 15px;
}

#confirmacao div .nao-sair, .sair{
    width: 80px;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#confirmacao div .nao-sair{
    background-color: rgba(255, 0, 0, 0.86);
}

#confirmacao div .nao-sair:hover{
    background-color: rgb(207, 30, 30);
}

#confirmacao div .sair{
    background-color: rgba(55, 203, 55, 0.997);
}

#confirmacao div .sair:hover{
    background-color: rgba(46, 146, 46, 0.997);
}

#popup-confirmacao-aside{
    font-size: 20px;
    width: 100%;
}