#nav-bar ul li:nth-child(1) a {
    color: var(--cor-amarelo);
    font-weight: bold;
}

#cabecalho h1 {
    font-size: 24px;
}

#cabecalho p {
    text-align: center;
    width: fit-content;
}

#info-doacao {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

#info-doacao .item-info {
    background-color: var(--cor-amarelo-hover);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 20px 0;
    border-radius: 5px;
    transform: translateY(0);
    transition: .3s;
    cursor: pointer;
}

#info-doacao .item-info:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: translateY(-2px);
}

#info-doacao .item-info h4 {
    font-weight: 400;
}

/* SECTION */
section#acoes-doador {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

section#acoes-doador .box-cards {
    gap: 10px;
}

section.container-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


section h2 {
    color: var(--cor-azul-escuro);
    font-size: 14px;
    font-weight: 600;
}

section .box-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 10px;
}

@media (max-width: 700px) {
    section#cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #info-doacao .item-info {
        width: 140px;
    }
}

@media (max-width: 895px) {
    section h2 {
        text-align: center;
    }
}

@media (max-width: 400px) {
    #info-doacao .item-info {
        flex: 1;
    }
}