/* CSS DO POPUP DE SER VOLUNTÁRIO */

#ser-voluntario-popup {
    background-color: rgba(0, 0, 0, 0.1);
}
#ser-voluntario-popup .container-popup {
    background-color: aliceblue;
    color: var(--cor-principal);
    flex-direction: column;
}

#ser-voluntario-popup .container-popup h1 {
    font-size: 20px;
    color: var(--cor-azul-escuro);
    text-align: center;
}

#ser-voluntario-popup .container-popup h4 {
    font-weight: 500;
}

/* Formulario */
#ser-voluntario-popup .container-popup .inputBox {
    display: flex;
    flex-direction: column;
}

#ser-voluntario-popup .container-popup .inputBox label {
    font-size: 13px;
    font-weight: 500;
}

#ser-voluntario-popup .container-popup .inputBox textarea {
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    transition: .3s;
    max-width: 445px;
    max-height: 150px;
}

#ser-voluntario-popup .container-popup .inputBox textarea:focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#ser-voluntario-popup .container-popup form button {
    background-color: #1F97BF;
    width: 100%;
    margin-top: 20px;
}