
#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 80%;
    margin: 60px auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.gress {
    display: flex;
    margin: 15px auto;
    justify-content: center;
}   

.text-detalhes-draft {
    color: #6e6a6a;
}

.btn-navegacao {
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
}

#laranja {
    color: #FFBE58;
}

.principal-esq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
    padding: 40px;
}

.principal-dir {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 20px;
    /* padding: 10px; */
}

/* Inicio Conteúdo da pagina */
.info-conteiner {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 1px;    
    box-shadow: 1px 2px 2px black;
    border-radius: 10px;
    padding: 30px 30px;
    width: 700px;
    height: 296px;

    & .info-projeto {
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 20px;
        p {
            color: #8A8A8A;
        }

        }

        & .progress {
            width: 400px;;
        }


        & .btn-favoritos-compartilhar {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 30px;
            width: 100%;

            & button {
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }
    

    & .btns-ajudar-projeto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 10px;
        width: 100%;
        

        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: none;
            border-radius: 8px;
            font-size: 1.3rem;
            width: 250px;
        
        }

        & .btn-doacao {
            color: #FFFFFF;
            background-color: #51CD32;
        }

        & .btn-voluntario {
            color: #FFFFFF;
            background-color: #1F97BF;
        }
    }
#progress-fundraiser {
    width: 650px;
    border-radius: 50px;
}
.btns-slider {
    display: flex;
    gap:20px;

}
.nome-projeto {
    color: #5282E3;
    display: flex;
    gap: 15px;
    font-size: 35px;
}

.arrecadado {
    color:#30AD1A;
    font-size: 20px;
}

.aleatoria {
    color: #E3B652;
    display: flex;
    gap: 20px;
    font-size: 25px;
}

.progress {
    display: flex;
    color: #8A8A8A;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.slide {
    border: 1px solid blue;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 100%;
    transition: left 0.5s ease-in-out;
    

    & h4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }

    & .doadores {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        box-shadow: 1px 2px 2px black;
        border-radius: 10px;
        padding: 15px;
        max-width: 100%;
        height: 396px;
        gap: 30px;

        & .doador {
            display: flex;
            justify-content:center;
            gap:10px;
            align-items:left;
            box-shadow: 1px 1px 1px 1px black;
            border-radius: 10px;
            padding: 10px;
            width: 250px;

            & .icon-name {
                background-color: #1C3464;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 8px;
            }
        }

    }

    & .voluntarios {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        box-shadow: 1px 2px 2px black;
        border-radius: 10px;
        padding: 15px;
        max-width: 100%;
        height: 396px;
        gap: 30px;

        & .voluntario {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            gap: 10px;
            box-shadow: 1px 1px 1px 1px black;
            border-radius: 10px;
            padding: 10x;
            width: 300px;
            

            & .icon-name {
                background-color: #1C3464;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 8px;
            }

            & .info-voluntario {
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                
                & h3 {
                    letter-spacing: 1px;

                }

                & strong {
                    color: green;
                }
            }
        }
    }
}

.responsaveis {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    box-shadow: 1px 2px 2px black;
    border-radius: 10px;
    padding: 15px;
    max-width: 100dvh;
    height: fit-content;
    gap: 30px;


    & .conteiner-responsaveis {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
        
        & .status-responsavel {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;

            & p {
                font-size: 0.8rem;
                background-color: #E3B652;
                color: white;
                border-radius: 5px;
                width: 70%;
                align-items: center;
                padding: 3px;
            }
        }

        & .img {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                border-radius: 50%;
                box-shadow: 1px 1px 1px black;
                width: 120px;
                height: 120px;
            }
        }

        & .info-responsavel {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            /* gap: 10px; */
            font-size: 15px;
            gap:5px;

            & .btn-respondavel {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                width: 180px;
                height: 36px;
                border-color: #E3B652;
                background-color: #E3B652;
            }
        }
    }
}

.btns-slider {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    position: relative;
    width: 100%;
    margin-top: 20px;
    gap: 30px;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        padding: 10px;
        border-radius: 20px;
        gap: 10px;
        height: 40px;

        & img {
            width: 24px;
        }
    }

    & button.active {
        text-decoration: underline;
        transition: 0.5;
    }
}

/* Fim Conteúdo da pagina */

/* Inicio Animações da pagina */

.conteiner {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 40px;

    & .paginacao {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin: 15px auto;


        & .pagina-button {
            background-color: #FFFFFF;
            box-shadow: 1px 1px 2px black;
            border: none;
            border-radius: 8px;
            font-size: 1.1rem;
            padding: 10px;

        }

        & .active {
            background-color: #000;
            color: #FFFFFF;
            border-radius: 10px;
        }
    }
}

.slide.active {
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 20px;
    left: 0;
    transform: translateX(0px);
}
.texto-projeto {
    display: flex;
    color: #4E4E4E;
    font-size:15px;
    flex-direction: column;
}

.slide .doadores {
    display: flex;
    justify-content: center;
    align-items: center;

}

.doadores-projeto {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #5282E3;
}

/* Exemplo de estilo para o botão ativo */

/* Fim Animações da pagina */

/* Inicio do Carrossel */
.carousel {
    width: 40%;
    max-width: 60%;
    overflow: hidden;
    box-shadow: 1px 2px 2px black;
    border-radius: 10px;
    width: 384px;
    height: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-imgs {

    display: flex;
    transition: transform 1s ease-in-out;

    & img {
        width: 100%;
        height: 50%;
    }


}

.carousel-item {

    width: 100%;
    height: 500%;
    border-radius: 5px;

}

/* Fim do Carrossel */


#popup-erro {
    background-color: white;
    align-items: center;
}

#popup-erro .msg {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    width: 300px;
    align-items: center;
}

#popup-erro .msg .linha1 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size:20px;
    color: black;
    

}

#popup-erro .msg p {
    font-size: 20px;
    color: #007AFF;
    
    
}
#popup-erro .msg a {
    color:#007AFF;;
}

#popup-erro img {
    width: 300px;
   
}

.btn-maistarde {
    background-color:#1C3464;
    color: aliceblue;
    border-radius: 5px;
    width: 60%;
    padding: 7px;
    margin-top: 20px;
}

/* Responsividade mobile */

@media (max-width: 700px) {
    #principal {
        margin-bottom: 20px;
    }
    .principal-esq {
        margin: 10px auto;
        padding: 5px;
    }
    
    .nome-projeto {
        font-size: 20px;
    }
    .info-conteiner {
        width: 90%;
        height: auto;
        padding: 7px;
    }
    .arrecadado {
        font-size: 15px;
    }
    .info-conteiner {
        display: flex;
        justify-content: start;
        flex-direction: column;
        border: 1px;    
        box-shadow: 1px 2px 2px black;
        border-radius: 10px;
        padding: 10px 10px;
        width: 100%;
    
        & .info-projeto {
            justify-content: start;
            align-items: start;
            width: 80%;
            flex-direction: column;
            margin: 0px;
            p {
                padding: 0px;
                font-size: 12px;
            }
    
            }
    }
    
    .btn-favoritos-compartilhar{
        padding-left: 10px;
        margin-left: 10px;
        justify-content: space-between;
        align-items: start;
        margin: 10px 3px;
        gap: 15px;
    }
    .btns-ajudar-projeto {
        margin: 10px 0px;
        justify-content: space-between;
        gap: 0px;

        button{
            width: 110px;
            font-size: 0.5rem;
        }
    }
    .carousel {
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
    }
    .btns-slider {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 8px;
        button {
            font-size: 0.8rem;
            padding: 5px;
            img{
                width: 18px;
            }
        }
    }
    .doadores-projeto {
        font-size: 0.9rem;
        color: #5282E3;
    }
    .conteiner {
        margin: 0px;
        padding: 0px;
    }
    .doadores {
        padding: 0px;
        gap: 0px;
        height: auto;
        .doador {
            justify-content: space-between;
            align-items: center;
            max-width: 100px;
            gap: 0px;
            padding: 0px;
            p {
                font-size: 0.5rem;
            }
            & .icon-name {
                width: 6px;
                height: 6px;
            }
        }
    }
    
}
