:root {
    --cor-principal: #1C3464;
    --cor-principal-claro: #203866;
    --cor-amarelo: #E3B652;
    --cor-amarelo-hover: #cca44d;
    --cor-azul: #45BEE6;
    --fonte: "Poppins", serif;
}

main {
    padding: 0 30px;
    height: calc(100vh - 60px);
}

section {
    height: 100%;
    display: flex;
    align-items: center;
}

#box-login .container {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    /* transform: scale(1.4); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
    max-height: 400px;
    height: 100%;
    max-width: 730px;
    width: 100%;
    justify-content: space-between;
}

#box-login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 300px;
}

#box-login .container h1 {
    color: var(--cor-principal);
}

#box-login form .inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#box-login form .inputBox {
    display: flex;
    flex-direction: column;
}

#box-login form .inputBox label {
    font-size: 13px;
}

#box-login form .inputBox input {
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    transition: .3s;
    width: 100%;
}
#box-login form .inputBox input:focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#box-login form .remember-forgot {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
}

#box-login form .remember-forgot .remember {
    display: flex;
    gap: 3px;
}

#box-login form .remember-forgot a {
    color: black;
    text-decoration: none;
    transition: .3s;
}

#box-login form .remember-forgot a:hover {
    color: blue;
}

#box-login form span {
    font-size: 11px;
    width: 100%;
    text-align: center;
    cursor: default;
}

#box-login form span a {
    text-decoration: none;
    color: var(--cor-azul);
    font-weight: 600;
    transition: .3s;
}

#box-login form span a:hover {
    color: var(--cor-principal);
}

/* ===== IMAGENS DE CADA UM =====*/
/* DOADOR */
#box-login .container #imgDoador {
    width: 350px;
    transform: rotateY(180deg);
}
/* ONG */
#box-login .container #imgOng {
    width: 300px ;
}
/* ADM */
#box-login .container #imgAdm {
    width: 350px;
}

@media (max-width: 700px) {
    #box-login .container {
        width: fit-content;
    }

    #box-login .container img {
        position: absolute;
    }

    #box-login .container img#imgDoador {
        width: 100px;
        top: 8px;
        right: 8px;
    }

    #box-login .container img#imgOng {
        width: 95px;
        right: 10px;
        top: 10px;
    }

    #box-login .container img#imgAdm {
        width: 100px;
        top: 10px;
        right: 10px;
    }

    #title_ong {
        width: 50%;
    }
}

@media (max-width: 400px) {
    #box-login .container img {
        display: none;
    }

    #box-login form {
        width: 100%;
    }

    #box-login form .remember-forgot {
        flex-direction: column;
    }
}


/* LOGIN DA ONG */
.container #spanOng a {
    color: var(--cor-amarelo);
}

.container #spanOng a:hover {
    color: var(--cor-amarelo-hover);
}