<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongs em destaque</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ONGS</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">NOTÍCIAS</a></li>
            </ul>
        </nav>
        <div id="header-direita">
            <div>
                <a href="#"><img src="assets/images/lupa.png" alt="" id="busca"></a>
            </div>
            <div id="login">
                <button id="btn-login">
                    Login
                </button>
            </div>
        </div>        
            <button id="botao-hamburger" onclick="mudaMenu()">
                <img src="assets/images/hamburger.png" alt="" id="hamburger">
            </button>
        
            <div id="hamburger-menu">
                <ul>
                    <li><a href="login-corporativo.html">HOME</a></li>
                    <li><a href="#">ONGS</a></li>
                    <li><a href="#">PROJETOS</a></li>
                    <li><a href="#">NOTÍCIAS</a></li>
                </ul>
            </div>
        </header>
    <!-- Fim cabeçalho -->

    <!-- POP-UP -->
    <div id="fundo-popup">
        <div class="popup">
            <div class="msg">
                <h1>Olá, Seja <br> Bem-Vindo!</h1>
                <p>Escolha seu tipo de acesso:</p>
                <ul>
                    <li><i class="fa-solid fa-user"></i><a href="#">Sou um usúario</a></li>
                    <li><i class="fa-solid fa-house-flag"></i><a href="#">Sou uma ONG</a></li>
                    <li><i class="fa-solid fa-user-secret"></i></i><a href="#">Administrador</a></li>
                </ul>
            </div>
            <div class="img">
                <img src="assets/images/celular.png">
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <!-- FIM POP-UP -->

    <!-- Início DIV principal -->
    <div id="principal">
        <div class="principal-esq">
            <div>
                <h1>AJUDE ONGS</h1>
                <p>Encontre e apoie projetos incríveis! faça doações ou torne-se voluntário. Juntos,   fazer a diferença!</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>
        <div class="principal-dir">
            <img src="assets/images/Humanitarian Help-bro 1.png" alt="">
        </div>
    </div>
    <!-- Fim DIV principal  -->

    <!-- DIV CARDS -->
    <div>
        <div class="container">
            <h2>ONGS EM DESTAQUE</h2>
            <div class="cards">
                <div class="card">
                    <div class="topo-card">
                        <img src="assets/images/Avatar.png" alt="">
                        <div>
                            <h3>Nome da ong</h3>
                            <p>Área de Atuação</p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="conteudo-card">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab quam ad distinctio tempora possimus molestias, perferendis deserunt non nulla numquam minima nihil aliquam cumque reiciendis magni quibusdam, exercitationem quidem!</p>
                        <div>
                            <p>150 <span>Doações</span></p>
                            <p>150 <span>Projetos</span></p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="rodape-card">
                        <div class="maisinfo">
                            <a href="#maisinfo">Mais informações</a>
                        </div>
                        <div class="acoes">
                            <a class="compartilhar" href="#compartilhar"><img src="assets/images/Ícones de Salvar.png" alt=""></a>
                            <a class="curtir" href="#curtir"><img src="assets/images/Ícones de Salvar (2).png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="topo-card">
                        <img src="assets//images/Avatar.png" alt="">
                        <div>
                            <h3>Nome da ong</h3>
                            <p>Área de Atuação</p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="conteudo-card">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab quam ad distinctio tempora possimus molestias, perferendis deserunt non nulla numquam minima nihil aliquam cumque reiciendis magni quibusdam, exercitationem quidem!</p>
                        <div>
                            <p>150 <span>Doações</span></p>
                            <p>150 <span>Projetos</span></p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="rodape-card">
                        <div class="maisinfo">
                            <a href="#maisinfo">Mais informações</a>
                        </div>
                        <div class="acoes">
                            <a class="compartilhar" href="#compartilhar"><img src="assets/images/Ícones de Salvar.png" alt=""></a>
                            <a class="curtir" href="#curtir"><img src="assets/images/Ícones de Salvar (2).png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="topo-card">
                        <img src="assets/images/Avatar.png" alt="">
                        <div>
                            <h3>Nome da ong</h3>
                            <p>Área de Atuação</p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="conteudo-card">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab quam ad distinctio tempora possimus molestias, perferendis deserunt non nulla numquam minima nihil aliquam cumque reiciendis magni quibusdam, exercitationem quidem!</p>
                        <div>
                            <p>150 <span>Doações</span></p>
                            <p>150 <span>Projetos</span></p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="rodape-card">
                        <div class="maisinfo">
                            <a href="#maisinfo">Mais informações</a>
                        </div>
                        <div class="acoes">
                            <a class="compartilhar" href="#compartilhar"><img src="assets/images/Ícones de Salvar.png" alt=""></a>
                            <a class="curtir" href="#curtir"><img src="assets/images/Ícones de Salvar (2).png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="topo-card">
                        <img src="assets/images/Avatar.png" alt="">
                        <div>
                            <h3>Nome da ong</h3>
                            <p>Área de Atuação</p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="conteudo-card">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab quam ad distinctio tempora possimus molestias, perferendis deserunt non nulla numquam minima nihil aliquam cumque reiciendis magni quibusdam, exercitationem quidem!</p>
                        <div>
                            <p>150 <span>Doações</span></p>
                            <p>150 <span>Projetos</span></p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="rodape-card">
                        <div class="maisinfo">
                            <a href="#maisinfo">Mais informações</a>
                        </div>
                        <div class="acoes">
                            <a class="compartilhar" href="#compartilhar"><img src="assets/images/Ícones de Salvar.png" alt=""></a>
                            <a class="curtir" href="#curtir"><img src="assets/images/Ícones de Salvar (2).png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="topo-card">
                        <img src="assets/images/Avatar.png" alt="">
                        <div>
                            <h3>Nome da ong</h3>
                            <p>Área de Atuação</p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="conteudo-card">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab quam ad distinctio tempora possimus molestias, perferendis deserunt non nulla numquam minima nihil aliquam cumque reiciendis magni quibusdam, exercitationem quidem!</p>
                        <div>
                            <p>150 <span>Doações</span></p>
                            <p>150 <span>Projetos</span></p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="rodape-card">
                        <div class="maisinfo">
                            <a href="#maisinfo">Mais informações</a>
                        </div>
                        <div class="acoes">
                            <a class="compartilhar" href="#compartilhar"><img src="assets/images/Ícones de Salvar.png" alt=""></a>
                            <a class="curtir" href="#curtir"><img src="assets/images/Ícones de Salvar (2).png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="topo-card">
                        <img src="assets/images/Avatar.png" alt="">
                        <div>
                            <h3>Nome da ong</h3>
                            <p>Área de Atuação</p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="conteudo-card">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab quam ad distinctio tempora possimus molestias, perferendis deserunt non nulla numquam minima nihil aliquam cumque reiciendis magni quibusdam, exercitationem quidem!</p>
                        <div>
                            <p>150 <span>Doações</span></p>
                            <p>150 <span>Projetos</span></p>
                        </div>
                    </div>
                    <div class="traco"></div>
                    <div class="rodape-card">
                        <div class="maisinfo">
                            <a href="#maisinfo">Mais informações</a>
                        </div>
                        <div class="acoes">
                            <a class="compartilhar" href="#compartilhar"><img src="assets/images/Ícones de Salvar.png" alt=""></a>
                            <a class="curtir" href="#curtir"><img src="assets/images/Ícones de Salvar (2).png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM DIV CARDS -->

    <!-- RODAPE -->
    <div  class="container-rodape">
        <div>
            <h2>QUEM SOMOS</h2>
            <div class="conteudo-rodape">
                <div class="cont-esq">
                    <div>
                        <h3>Quem somos</h3>
                        <p>Somos uma plataforma dedicada a conectar você com ONGs e projetos que fazem a diferença. Nossa missão é facilitar o apoio a causas sociais e ambientais, oferecendo uma maneira simples e transparente para você contribuir e se envolver.</p>
                    </div>
                </div>
                <div class="cont-dir">
                    <div class="dir-text">
                        <h3>Nossos parceiros</h3>
                        <p>Conheça empresas e organizações que colaboram conosco para criar um impacto positivo. Veja como essas parcerias ajudam a fortalecer a nossa missão.</p>
                    </div>
                    <div>
                        <a href="empresas/index.html">Ver Empresas</a>
                    </div>
                </div>
            </div>
            <div class="botao-voltar">
                <a href="index.html"><img src="assets/images/Arrow up-circle.png" alt=""></a>
            </div>
        </div>
    </div>
    <!-- FIM RODAPE -->
</body>
</html>