@import url(filtro.css);

#container-catalogo {
  height: fit-content;
  padding: 50px 0;
  display: flex;
  align-items: normal;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
}

/* Sessão de Cima */
section#header-section {
  display: flex;
  justify-content: space-between;
  height: 300px;
  text-align: justify;
  gap: 10px;
}


#header-section .form-pesquisa h1 {
  font-size: 32px;
  line-height: 1;
}

#header-section .form-pesquisa p {
  max-width: 420px;
}

/* Imagem */
#header-section #img-illustrativa {
  max-width: 330px;
}

#img-illustrativa img {
  width: 100%;
}

.resultado-busca {
  display: flex;
  gap: 20px;
  font-weight: 500;
  color: gray;
}

/* Sessão de Baixo: Áreas dos cards */
section#box-ongs {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  padding-inline: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
  section#top-info {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  #top-info #info {
    align-items: center;
  }

  #info div {
    align-items: center;
  }

  #top-info #info p {
    text-align: center;
  }

  section#box-ongs {
    justify-content: space-evenly;
    gap: 30px 15px;
  }
}

main.visitante {
  min-height: calc(100vh - 60px);
}

/* Se o usuário for um doador: */
main.usuario-logado {
  padding: 30px 20px;
  /* min-height: calc(100vh - 60px); */
}

main.usuario-logado #container-catalogo {
  background: none;
  padding: 0;
  min-height: calc(100vh - 120px);
}

main.usuario-logado section#box-ongs {
  gap: 30px 10px;
}

@media (max-width: 900px) {
  #container-catalogo {
    gap: 20px;
  }

  section#header-section {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .resultado-busca {
    justify-content: center;
  }
}