#principal {
    max-width: 1200px;
    margin: 0 auto;
    background-color:aliceblue;
    border-radius: 10px;
    padding: 55px 0;
    flex-direction: column;
    display: flex;
    gap: 15px;
}

body {
    background-color: aliceblue;
}
.carousel {
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;    
    min-height:400px;
    position: relative;
}

.carousel-imgs {
    /* width: 500px; */
    display: flex;
    transition: transform 1s ease-in-out;
    gap: 35px;
    position: absolute;
    animation: rolagem 10s infinite ease alternate ;
    width: 100%;

}

@keyframes  rolagem {
    0%{
        transform: translateX(0);
    }

    33%{
        transform: translateX(-1045px);
    }

    66%{
        transform: translateX(-2090px);
    }

    100%{
        transform: translateX(-3130px);
    }
}

.carousel-item {
    
    max-width: 1000px;
    /* height: 500%; */
    border-radius: 5px;
    
}

.titulo{
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font-weight: 600;
    letter-spacing: 2px;
}

.titulo p{
    color: grey;
    letter-spacing: 1px;
}

.titulo h3{
    color: #5282E3;
    font-size: 15px;
    font-weight: 600;
    /* background: red; */
}

.texto{
    display: flex;
    text-indent: 10%; 
    
}

.subtitulo{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.baixo{
    display: flex;
    flex-direction: row;
}

.baixo p, .texto p {
    text-align: justify;
}

@media (max-width: 700px) {
    .baixo {
        display: block;

        img{
            width: 90%;
        }
    }
    .carousel { 
        min-height:300px;
    }
    .titulo h1 {
        font-size: 28px;
    }
}