<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <!-- Nav Bar -->
    <header>
        <div class="container">
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Ongs</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </nav>
            <div class="btn-login">
                <button class="btn" id="openPopup" onclick="loginPopup()">LOGIN</button>
                <button onclick="menu_mobile()" id="hamburguer"></button>
            </div>
        </div>
    </header>

    <!-- Div Principal -->
    <div id="principal">
        <h1>Minhas Doações</h1>
        <div class="cardes">
            <div class="card">
                <div class="card_esq">
                    <img class="pleaceholder" src="imgs/fotopleaceholder.png" alt="">
                    <div class="info">
                        <h2>Projeto A</h2>
                        <p>Doado: R$100</p>
                        <p>Data:28/03/2024</p>
                    </div>
                </div>
                <button class="btn_comprovante">Comprovante</button>
            </div>
            <div class="card">
                <div class="card_esq">
                    <img class="pleaceholder" src="imgs/fotopleaceholder.png" alt="">
                    <div class="info">
                        <h2>Projeto A</h2>
                        <p>Doado: R$100</p>
                        <p>Data:28/03/2024</p>
                    </div>
                </div>
                <button class="btn_comprovante">Comprovante</button>
            </div>
            <div class="card">
                <div class="card_esq">
                    <img class="pleaceholder" src="imgs/fotopleaceholder.png" alt="">
                    <div class="info">
                        <h2>Projeto A</h2>
                        <p>Doado: R$100</p>
                        <p>Data:28/03/2024</p>
                    </div>
                </div>
                <button class="btn_comprovante">Comprovante</button>
            </div>
        </div>
        <h1>RESUMO GERAL</h1>
        <div class="info_top">
            <p>Total doado:</p>
            <p class="negrito"> R$350</p>
        </div>

        <div class="legenda_grafico">
            <div class="caixas_grafico">
                <div class="caixa_grafico1"></div>
                <div class="caixa_grafico2"></div>
                <div class="caixa_grafico3"></div>
            </div>
            <div class="legendas">
                <p>Projeto A</p>
                <P>Projeto B</P>
                <p>Projeto C</p>
            </div>


            <div>
                <img class="grafico" src="imgs/Grafico.png" alt="">
            </div>

        </div>

    </div>

</body>

</html>