#compartilhar-popup .container-popup {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#compartilhar-popup .container-popup h1 {
    line-height: 1;
    color: var(--cor-amarelo);
    font-size: 24px;
}
 
#compartilhar-popup .container-popup p {
    color: var(--cor-principal);
    font-weight: 400;
}

#compartilhar-popup .container-popup input {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    outline: none;
    transition: .3s
}

#compartilhar-popup .container-popup input:hover {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#compartilhar-popup .container-popup .msg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}