#doacao-popup {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px !important;
}

#doacao-popup .container-popup {
    background-color: white;
    color: var(--cor-principal);
    flex-direction: column;
}

#doacao-popup h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 7px;
}

#doacao-popup #radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 350px;
}

#doacao-popup #radio-group label {
    flex: 1 1 100px;
    border: 1px solid #eee;
}

#doacao-popup #radio-group label span {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    display: block;
    transition: .3s;
}

#doacao-popup #radio-group label input[type= "radio"] {
    display: none;
}

#doacao-popup #radio-group label input:checked + span,
#doacao-popup #radio-group label input:checked ~ input {
    background-color: rgba(81, 205, 50, 0.7);
    color: #1d4912;
}

#doacao-popup #radio-group label input[type= "number"] {
    outline: none;
    border: none;
    width: 100%;
    padding-right: 10px;
    transition: .3s;
    font-weight: 600
}

#doacao-popup #radio-group label#input-value {
    display: flex;
}

#doacao-popup form .btn {
    width: 100%;
    margin-top: 10px;
    background-color: var(--cor-verde-barra);
}

/* ======= Popup: Adicionar Cartão ======= */
#popup-adicionar-cartao {
    padding: 10px;
}

.credit-card-popup {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

.input-grupo {
    margin-bottom: 20px;
}

.input-grupo,
.credit-card-popup input {
    color: #666;
}

.credit-card-popup label {
    display: block;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.credit-card-popup input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.credit-card-popup input::placeholder {
    color: #999;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
}

.row .input-grupo:first-child {
    flex: 2;
}

.row .input-grupo:last-child {
    flex: 1;
}

.cvv {
    max-width: 80px;
}

@media (max-width: 500px) {
    #doacao-popup h1 {
        font-size: 15px;
    }
}