/* POPUP FINALIZAR PROJETO */
#finalizar-projeto-popup {
    background-color: rgba(0, 0, 0, 0.1);
}

#finalizar-projeto-popup .container-popup {
    padding: 20px;
    background-color: white;
    color: var(--cor-principal);
    transition: 0.3s;
}

#finalizar-projeto-popup form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#finalizar-projeto-popup .box-edit {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#finalizar-projeto-popup h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#finalizar-projeto-popup .group-check {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#finalizar-projeto-popup .input-box {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    background-color: #f0f0f0;
    gap: 10px;
    font-size: 14px;
}

#finalizar-projeto-popup .input-box:hover {
    filter: brightness(0.9);
}

/* Radios customizados */
#finalizar-projeto-popup .input-box input[type="radio"] {
    appearance: none; /* remove o estilo padrão */
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    background-color: white;
}

/* Hover */
#finalizar-projeto-popup .input-box input[type="radio"]:hover {
    border-color: var(--cor-ciano);
}

/* Checked */
#finalizar-projeto-popup .input-box input[type="radio"]:checked::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--cor-ciano);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#finalizar-projeto-popup .input-area {
    display: flex;
    flex-direction: column;
}

#finalizar-projeto-popup .input-area textarea {
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    transition: 0.3s;
    width: 100%;
    max-height: 100px;
}

#finalizar-projeto-popup p,
#finalizar-projeto-popup .input-area label {
    font-size: 13px;
}

#finalizar-projeto-popup p span,
#finalizar-projeto-popup .input-area label span {
    font-size: 15px;
    color: red;
    font-weight: 600;
}

#finalizar-projeto-popup .container-popup button:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--cor-ciano);
}

#finalizar-projeto-popup .container-popup button:last-child i {
    font-size: 20px;
}

/* Textarea só aparece quando "Outro motivo" for selecionado via JS */
#finalizar-projeto-popup .box-motivo {
    display: none;
}