/* POPUP - SAIR DA CONTA */
#sair-da-conta-popup .container-popup {
    flex-direction: column;
    background-color: aliceblue;
    gap: 30px;
}

#sair-da-conta-popup h1 {
    font-size: 24px;
    color: var(--cor-amarelo);
}

#sair-da-conta-popup .btns-sair {
    display: flex;
    gap: 10px;
}

#sair-da-conta-popup a {
    font-size: 13.3px;
    text-decoration: none;
    background: none;
    border: 2px solid var(--cor-amarelo);
    width: 50%;
    text-align: center;
}

#sair-da-conta-popup .btns-sair button {
    width: 50%;
}