#aprovar-popup .container-popup {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#aprovar-popup .container-popup h1 {
    line-height: 1;
    color: var(--cor-amarelo);
    font-size: 24px;
}
 
#aprovar-popup .container-popup p {
    color: var(--cor-principal);
}

#aprovar-popup .container-popup input {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    outline: none;
    transition: .3s
}

#aprovar-popup .container-popup input:hover {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#aprovar-popup .container-popup .msg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#recusar-popup .container-popup {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#recusar-popup .container-popup h1 {
    line-height: 1;
    color: var(--cor-amarelo);
    font-size: 24px;
}
 
#recusar-popup .container-popup p {
    color: var(--cor-principal);
}

#recusar-popup .container-popup input {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    outline: none;
    transition: .3s
}

#recusar-popup .container-popup input:hover {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#recusar-popup .container-popup .msg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#recusar-popup .container-popup .img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* espaço em cima e embaixo, opcional */
  }
  
  #recusar-popup .container-popup .img img {
    max-width: 100%;
    height: auto;
  }

  #aprovar-popup .container-popup .img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* espaço em cima e embaixo, opcional */
  }
  
  #aprovar-popup .container-popup .img img {
    max-width: 100%;
    height: auto;
  }

  .container-popup .msg {
  text-align: center;
}

.container-popup .img img {
    width: 100px;
    height: auto; /* mantém a proporção original da imagem */
  }