#parceria-popup {
    padding: 10px;
}

#parceria-popup .container-popup {
    background-color: white;
    color: var(--cor-principal);
    padding: 0;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
}

#parceria-popup .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    background: #f8f9fa;
    border-radius: 10px 10px 0 0;
}

#parceria-popup .popup-header h3 {
    font-size: 18px;
}

#parceria-popup .popup-header h3 i {
    color: var(--cor-amarelo-hover);
}

/* Formulário */
form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: .3s;
}

form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form .form-group label {
    font-size: 14px;
    font-weight: 500;
}

form .form-group label span {
    color: var(--cor-vermelho);
}

/* Inputs */
form .form-group input,
form .form-group textarea {
    padding: 8px;
    border: none;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #444;
}

form .form-group input:focus,
form .form-group textarea:focus {
    border-color: #aaa;
}

form .form-group textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}

/* Botões */
form .form-btns {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;
}

form .form-btns .btn-cancelar {
    background-color: #f8f9fa;
}

@media (max-width: 400px) {
    form {
        padding: 20px 10px;
    }

    form .form-btns .btn {
        flex: 1;
    }
}