aside button{
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

aside{
    background-color: #1c3d47;
    width: 230px;
    position: fixed;
    right: -230px;
    top: 0;
    z-index: 999;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    transition: .4s;
    justify-content: space-between;
}

aside .aside-nav{
    display: flex;
    color: white;
    gap: 8px;
    align-items: center;
    /* background-color: red; */
    padding: 10px 15px;
    cursor: pointer;
}

aside .aside-nav:hover{
    background-color: #18343c;
}

aside .btn-fechar button{
    transform: rotate(0);
    transition: .4s;
    cursor: pointer;
}

aside .btn-fechar button:hover{
    transform: rotate(90deg);
}

aside .meu-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

aside .meu-perfil span{
    color: #fff;
}

aside .meu-perfil button{
    font-size: 15px;
    color: #007AFF;
}

aside .meu-perfil div{
    padding: 0px 10px;
}

.aside-sair{
    font-size: 18px;
}