#compartilhar-popup .container-popup {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#compartilhar-popup .container-popup h1 {
    line-height: 1;
    color: var(--cor-amarelo);
    font-size: 24px;
}
 
#compartilhar-popup .container-popup p {
    color: var(--cor-principal);
}

#compartilhar-popup .container-popup input {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    outline: none;
    transition: .3s
}

#compartilhar-popup .container-popup input:hover {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#compartilhar-popup .container-popup .msg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.toast {
    position: fixed;
    top: 60px; /* Começa fora da tela */
    right: -200px;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    border-left: 6px solid limegreen;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    z-index: 1000;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.toast i {
    color: limegreen;
    font-size: 20px
}