:root {
    --fonte: "Poppins", serif;
    --cor-principal: #1C3464;
    --cor-principal-claro: #203866;
    --cor-amarelo: #E3B652;
    --cor-amarelo-hover: #e69d00;
    --cor-azul: #45BEE6;
    --cor-azul-hover: #289AC0;
    --cor-azul-escuro: #007AFF;
}