header a {
    text-decoration: none;
}

header #doador-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

header #img-doador {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    transform: translateY(0);
    transition: .3s;
    border-radius: 50%;
}

header #img-doador:hover {
    transform: translateY(-2px);
    box-shadow: rgba(49, 214, 255, 0.35) 0px 5px 15px;
}

header #img-doador img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgba(60, 64, 67, 0.6) 0px 1px 2px 0px, rgba(60, 64, 67, 0.5) 0px 1px 3px 1px;
    border: 2px solid white;
}

/* CONTROLE DO ASIDE E CONTEUDO */
#main-doador>.container {
    position: relative;
    min-height: calc(100vh - 60px);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: normal;
    align-items: normal;
    padding-left: 65px;
    transition: .3s;
}

.container #container-conteudo {
    padding: 30px 20px;
    /* padding-top: 50px; */
    width: 100%;
    /* margin-left: 65px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: .3s ease-out;
}


@media (max-width: 700px) {
    .container #container-conteudo {
        padding-inline: 10px;
        /* margin-left: 50px; */
    }
}

/* @media (max-width: 400px) {
    .container #container-conteudo {
        margin-left: 50px;
    }
} */

@media (max-width: 500px) {
    /* .container #container-conteudo {
        margin-left: 0;
    } */

    #main-doador>.container {
        padding-left: 0;
    }

    .container #container-conteudo {
        padding-top: 65px;
    }
}