header a {
    text-decoration: none;
}

header #doador-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

header #img-doador {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    transform: translateY(0);
    transition: .3s;
    border-radius: 50%;
}

header #img-doador:hover {
    transform: translateY(-2px);
    box-shadow: rgba(49, 214, 255, 0.35) 0px 5px 15px;
}

header #img-doador img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgba(60, 64, 67, 0.6) 0px 1px 2px 0px, rgba(60, 64, 67, 0.5) 0px 1px 3px 1px;
    border: 2px solid white;
}

/* CONTROLE DO ASIDE E CONTEUDO */
#container-principal>.container {
    position: relative;
    height: calc(100vh - 60px);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: normal;
    align-items: normal;
    padding-left: 65px;
    transition: .3s;
}

.container #container-conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .3s ease-out;
    min-height: calc(100vh - 60px);
    overflow-y: scroll;
}

.container #container-conteudo::-webkit-scrollbar {
    width: 8px;
    display: none;
}

.container #container-conteudo::-webkit-scrollbar-track {
    background: azure;
}

.container #container-conteudo::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #f8c35c, #f67f2a, #f8c35c);
    background-size: 200% 100%;
    border-radius: 20px;
    animation: gradiente-scroll 3s infinite linear reverse;
}

/* @media (max-width: 400px) {
    .container #container-conteudo {
        margin-left: 50px;
    }
} */

@media (max-width: 500px) {
    /* .container #container-conteudo {
        margin-left: 0;
    } */

    #container-principal>.container {
        padding-left: 0;
    }

    .container #container-conteudo {
        padding-top: 35px;
    }
}