/* POPUP DE EDITAR*/
#inativar-projeto-popup {
    background-color: rgba(0, 0, 0, 0.1);
}

#inativar-projeto-popup .container-popup {
    background-color: aliceblue;
    color: var(--cor-principal);
}

#inativar-projeto-popup form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#inativar-projeto-popup .box-edit {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#inativar-projeto-popup h1 {
    font-size: 20px;
    text-align: center;
}

#inativar-projeto-popup .group-check {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#inativar-projeto-popup .input-box {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    background-color: #f0f0f0;
    gap: 10px;
    font-size: 14px;
}

#inativar-projeto-popup .input-box:hover {
    filter: brightness(.9);
}

#inativar-projeto-popup input[type="checkbox"] {
    accent-color: var(--cor-amarelo-hover);
    width: 14px;
    height: 14px;
}

#inativar-projeto-popup .input-area {
    display: flex;
    flex-direction: column;
}

#inativar-projeto-popup .input-area textarea {
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    transition: .3s;
    width: 100%;
    max-width: 471px;
}

#inativar-projeto-popup p,
#inativar-projeto-popup .input-area label {
    font-size: 13px;
}

#inativar-projeto-popup p span,
#inativar-projeto-popup .input-area label span {
    font-size: 15px;
    color: red;
    font-weight: 600;
}


#inativar-projeto-popup .container-popup .box-edit button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--cor-vermelho);
    color: #912B2B;
    margin-top: 20px;
}

#inativar-projeto-popup .container-popup .box-edit button i {
    font-size: 20px;
}