@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", serif;
}

:root {
    --backgroud: #1C3464;
    --container-background: #FFFFFF;
    --title: #5282E3;
    --input-background: #00000022;
    --button: #E3B652;
    --button-hover: #9747FF;
}

body {
    width: 100%;
    z-index: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroud);
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: #5282E3;
}

header .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

header .btn {
    padding: 10px 20px;
    border: none;
    background-color: #E3B652;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1C3464;
    transition: .3s;
}

header .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #cca44d;
}

header .btn a {
    text-decoration: none;
    color: #1C3464;
}

header {
    padding: 0 30px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #1C3464;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .logo {
    color: aliceblue;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header nav ul li {
    transform: translateY(0);
    transition: .3s;
}

header nav ul li:hover {
    transform: translateY(-2px);
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    padding-block: 8px;
    transform: translateY(0);
    transition: .3s;
}

header nav a:hover {
    color: #E3B652;
}

header .btn-login {
    display: flex;
    align-items: center;
    gap: 15px;
}

header nav.active {
    height: 180px;
    transition: .3s;
}

#hamburguer {
    border: none;
    border-top: 4px solid #E3B652;
    background: none;
    border-radius: 3px;
    display: none;
    cursor: pointer;
    position: relative;
}

#hamburguer::after,
#hamburguer::before {
    content: '';
    margin-top: 3px;
    width: 30px;
    height: 4px;
    display: block;
    background-color: #E3B652;
    border-radius: 3px;
    transition: .3s;
}

#hamburguer.active {
    border: none;
}

#hamburguer.active::after {
    transform: rotate(45deg);
    top: 0;
    position: absolute;
}

#hamburguer.active::before {
    transform: rotate(-45deg);
}


/* #principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 800px;
    margin: 180px auto;
    background-color: var(--container-background);
    border-radius: 8px;
    padding: 30px 60px 0px 60px;
} */
#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 55%;
    margin: 60px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

.buscar {
    position: relative;
    /* float: right; */
    border: solid 3px #00000084;
    width: 50%;
    height: 33px;
    border-radius: 50px;
    flex-wrap: wrap;
}

#buscar {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.1em;
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 0px;
    flex-wrap: wrap;
}

#buscar:focus {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
}

.search_img {
    position: absolute;
    float: right;
    right: 0%;
    margin: 3px 15px 0px 0px;
    /* position: absolute; */
    height: 24px;

}

.doadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 90%;
    /* height: 800px; */
}
.card_doador {
    border-left:solid 8px #9747FF;
    margin-bottom: 20px;
    padding: 5px 19px 5px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    background-color: var(--container-background);
    box-shadow: 0 0 5px #00000093;
    border-radius: 5px;
}
.perfil_img {
    height: 54px;
}
.nome_doador {
    font-weight: 500;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    height: 27px;
}
.email_doador {
    font-size: 0.8em;
    color:#0000007f;
    margin: 0px;
    padding: 0px;
}
.info_doador {
    /* margin-right: 19%; */
    margin-left: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top-text {
    font-size: 1.5em;
    color: var(--backgroud);
    font-weight: 500;
}

.btn_delete_user {
    /* margin-left: 33%; */
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    border: none;
    transition: 0.2s;
}
.btn_delete_user:hover {
    filter: brightness(80%);
}
.img_delete_user {
    height: 45px;
}
.img_delete_user:hover {
    backdrop-filter: brightness(60%);
}

.card-esq {
    display: flex;
}
.card-dir {
    display: flex;
    align-items: center;
    gap: 170px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.btn_nav {
    background-color: var(--container-background);
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}

.btn_nav:hover {
    background-color: black;
    color: white;
}

@media (max-width: 700px) {
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1C3464;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        height: 0;
        transition: .3s;
        z-index: 999;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 0;
    }

    #hamburguer {
        display: block;
    }

    #fundo-popup #popup .img {
        display: none;
    }

    body {
        width: 90%;
        font-family: 'Poppins', sans-serif;
        background-color: #1C3464;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.3em;
        font-weight: 400;
        color: #5282E3;
    }

    #principal {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 13px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar {
        width: 90%;
    }

    .search_img {
        position: absolute;
        right: 0%;
    }

    .card_doador {
        flex-direction: column;
        height: 110px;
    }
    .card-dir {
        gap: 70px;
    }
}


/* !!! COPIAR ESSA PARTE ABAIXO SE VOCÊ NÂO TIVER O EFEITO POP-UP LOGIN */
#login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#block-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#login-popup.ativo {
    opacity: 1;
    visibility: visible;
}

#login-popup.ativo #popup {
    margin-top: 0;
}

#block-popup.ativo {
    opacity: 1;
    visibility: visible;
}

#block-popup.ativo #popup {
    margin-top: 0;
}

#popup {
    background-color: var(--container-background);
    border-radius: 10px;
    display: flex;
    padding: 15px 35px;
    gap: 50px;
    margin-top: 100%;
    height: 150px;
    transition: .5s ease;
    color: aliceblue;
}

#popup .msg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

#popup .msg h1 {
    line-height: 1.2;
    font-size: 1.3em;
    font-weight: 400;
    color: #9747FF;
    width: 100%;
}

#popup .msg p {
    font-size: 14px;
}
#popup .block-buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
}
#popup button {
    font-family: "Poppins", serif;
    font-size: 0.9em;
    transition: 0.2s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.396);
}
#popup button:hover {
    filter: brightness(0.8);
}

#popup .btn-sim {
    background-color: #51CD32;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
}
#popup .btn-nao {
    background-color: #E41D1D;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
}