.card-noticia {
    text-decoration: none;
    color: var(--cor-principal);
    flex: 1 1 500px;
    max-width: 575px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

div.card-noticia:hover {
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
    transform: translateY(-3px);
}

div.card-noticia {
    border:none;
    box-shadow: none;
    padding: 0;
}

/* Título, Descrição e Info */
.card-noticia .textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.card-noticia .textos h3 {
    font-size: 15px;
    color: var(--cor-principal);
    font-weight: 600;
    line-height: 1.2;
}

.card-noticia .textos p {
    font-size: 13px;
    text-align: justify;
    line-height: 1;
    color: var(--cor-cinza);
}

.card-noticia .info {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.card-noticia .info p {
    color: #aaa;
}

/* Imagem */
.card-noticia .imagem-noticia {
    min-width: 190px;
    height: 131px;
    /* background-color: rgb(48, 48, 48); */
    background-color: #eff1f3;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 3px;
}

.card-noticia .imagem-noticia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* REPONSIVIDADE */
@media (max-width: 500px) {
    .card-noticia {
        flex-direction: column-reverse;
        flex: 1 1 300px;
        max-width: 300px;
    }

    .card-noticia .imagem-noticia {
        width: 100%;
        min-height: 160px;
    }

    .card-noticia .textos p {
        font-size: 12px;
    }
}

/* COMPARTILHAR NOTICA */
.card-noticia .acoes-noticia {
    font-size: 18px;
    position: absolute;
    top: 13px;
    right: 13px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.card-noticia:hover .acoes-noticia{
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.card-noticia .acoes-noticia button {
    background: none;
    border: none;
    width: 28px;
    height: 28px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background-color: white;
    color: #c2c2c2;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.card-noticia .acoes-noticia button.btn-share:hover {
    color: #45BEE6;
}