.card-ong {
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-left: 5px solid var(--cor-amarelo);
    max-width: 350px;
    width: 100%;
    max-height: 300px;
    background-color: white;
    color: var(--cor-principal);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card-ong:hover {
    border-left: 5px solid var(--cor-amarelo-hover);
    transform: translateY(-4px);
    box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
}

/* Nome e Foto da ONG */
.card-ong .perfil {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: default;
}

.card-ong .perfil .logo {
    width: 100px;
    height: 70px;
    min-width: 100px;
    /* background-color: rgb(48, 48, 48); */
    background-color: #eff1f3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow: hidden;
}

.card-ong .perfil .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-ong .perfil .nome h2 {
    font-size: 18px;
    font-weight: 600;
}

/* Descrição - Área do Meio */
.card-ong .meio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-ong .descricao {
    padding: 10px;
    font-size: 12.5px;
    text-align: justify;
    line-height: 1.2;
    cursor: default;
    word-break: break-word;
    color: var(--cor-cinza);
}

/* Quantidade de Doação e Projeto */
.card-ong .doacao {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    cursor: default;
}

.card-ong .doacao span {
    font-weight: 600;
}

/* Área dos Botões */
.card-ong .acoes-ong {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    gap: 10px;
}

/* Botão Saiba Mais */
.card-ong .saiba-mais-ong {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    /* width: 70%; */
    width: 100%;
    background-color: var(--cor-amarelo);
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
    height: 50px;
    color: aliceblue;
    text-align: center;
}

.card-ong .saiba-mais-ong:hover {
    color: var(--cor-principal);
    background-color: var(--cor-amarelo-hover);
}

/* Área de Salvar e Compartilhar */
.btn-salvar {
    display: flex;
    /* width: 30%; */
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.btn-salvar button {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    color: #c2c2c2;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    transition: .3s;
}

.btn-salvar button.btn-share:hover {
    color: #45BEE6;
}

.btn-salvar button.btn-like:hover {
    color: hotpink;
}

.btn-salvar button.favoritado {
    color: hotpink !important;
    animation: pulse 1s ease;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.card-ong .status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 4px;
    background-color: var(--cor-vermelho);
    color: white;
}

@media (max-width: 450px) {
    .card-ong {
        max-height: none;
    }
}