.card-projeto {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 290px;
    background-color: white;
    color: var(--cor-principal);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

.card-projeto .categoria {
    position: absolute;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    font-size: 11px;
    font-weight: 600;
    padding: 1px 4px;
    color: aliceblue;
}

/* Imagem do Projeto */
.card-projeto .img-projeto {
    width: 100%;
    height: 130px;
    min-height: 130px;
    background-color: #eff1f3;
    aspect-ratio: 16 / 10;
}

.card-projeto .img-projeto img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Texto Resumo*/
.card-projeto .info-projeto {
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex: 1; */
    height: 100%;
    gap: 8px;
}

.card-projeto .info-projeto h5 {
    line-height: 1.1;
}

.card-projeto p {
    font-size: 12px;
    text-align: justify;
    line-height: 1;
    color: var(--cor-cinza);
}

/* Marcação de Doação */
.card-projeto .barra-doacao {
    display: flex;
    align-items: center;
    gap: 8px;
    
}


.card-projeto .barra-doacao span {
    font-size: 11px;
    font-weight: 500;
}

.card-projeto .barra-doacao .barra {
    background-color: rgba(0, 0, 0, 0.1);
    height: 8px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-projeto .barra .barra-verde {
    width: 30%;
    background-color: #55E18B;
    height: 100%;
}

/* Botão Saiba Mais */
.card-projeto .saiba-mais-projeto {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: var(--cor-azul);
    letter-spacing: 1px;
    position: absolute;
    bottom: -33px;
    transition: .3s ease;
    cursor: pointer;
    font-size: 13px;
}

.card-projeto .saiba-mais-projeto:hover {
    background-color: var(--cor-azul-hover);
}

.card-projeto:hover .saiba-mais-projeto {
    bottom: 0;
}

/* SALVAR E COMPARTILHAR PROJETO */
.card-projeto .acoes-projeto {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.card-projeto .acoes-projeto button {
    background: none;
    border: none;
    width: 28px;
    height: 28px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background-color: white;
    color: #c2c2c2;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.card-projeto .acoes-projeto .btn-share {
    visibility: hidden;
    transform: translateX(5px);
    opacity: 0;
    transition: .3s;
}

.card-projeto:hover .acoes-projeto .btn-share {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    transition: .3s;
}

.card-projeto .acoes-projeto button.btn-share:hover {
    color: #45BEE6;
}

.card-projeto .acoes-projeto button.btn-like:hover {
    color: hotpink;
}

.card-projeto .acoes-projeto button.favoritado {
    color: hotpink;
}