<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base para páginas</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ONGS</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">NOTÍCIAS</a></li>
            </ul>
        </nav>
        <div id="header-direita">
            <div id="busca">
                <a href="#"><img src="../assets/images/lupa.png" alt="" id="busca"></a>
            </div>
            <div id="login">
                <button id="btn-login">
                    Login
                </button>
            </div>
        </div>
    </header>
    <!-- Fim cabeçalho -->


    <!-- Início DIV principal -->
    <div id="principal">
        <div >
            <div class="titulo-cadastro">
                <h1>ENDEREÇO</h1>
            </div>
            <div class="progress"><img src="../assets/images/progress-3.png" alt=""></div>

                <div class="indicador-tela">
                    <div><p class="descricao-indicador-tela">Dados <br> da ONG</p></div>
                    <div class="descricao-indicador-tela-descricao"><p class="descricao-indicador-tela">Descrição</p></div>
                    <div class="descricao-indicador-tela-endereco"><p class="descricao-indicador-tela">Endereço</p></div>
                    <div class="descricao-indicador-tela-responsavel"><p class="descricao-indicador-tela">Responsável</p></div>
                    <div class="descricao-indicador-tela-banco"><p class="descricao-indicador-tela">Banco</p></div>
                    <div class="descricao-indicador-tela-login"><p class="descricao-indicador-tela">Login</p></div>
                </div>
            <div class="container">
                <div>
                    <form class="form-login">
                        <label for="rua">Rua</label><br>
                        <input type="text" placeholder="Ex: Rua Afonso Pena, 3050" name="Rua" > <br>
                        <label for="cep">Cep</label><br>
                        <input type="text" placeholder="00000-000" name="Cep" > <br>
                    </form>
                    <a href="atuacao.html"><button class="voltar" type="submit">VOLTAR</button></a>
                </div>
        
                <div class="form-container">
                    <form class="form-login">
                        <label for="bairro">Bairro</label><br>
                        <input type="text" placeholder="Ex: Centro" name="Bairro" > <br>
                        <label for="cidade">Cidade</label><br>
                        <input type="text" placeholder="Campo Grande" name="Cidade" > <br>
                    </form>
                    <a href="responsavel-ong.html"><button class="proximo" type="submit">PROXIMO</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim DIV principal  -->
     
</body>
</html>