<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Corporativo</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ONGS</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">NOTÍCIAS</a></li>
            </ul>
        </nav>
        <div id="header-direita">
            <div>
                <a href="#"><img src="../assets/images/lupa.png" alt="" id="busca"></a>
            </div>
            <div id="login">
                <button id="btn-login">
                    Login
                </button>
            </div>
        </div>      
            <button id="botao-hamburger" onclick="mudaMenu()">
                <img src="../assets/images/hamburger.png" alt="" id="hamburger">
            </button>
        
            <div id="hamburger-menu">
                <ul>
                    <li><a href="login-corporativo.html">HOME</a></li>
                    <li><a href="#">ONGS</a></li>
                    <li><a href="#">PROJETOS</a></li>
                    <li><a href="#">NOTÍCIAS</a></li>
                </ul>
            </div>
        </header>
        <!-- Fim cabeçalho -->
        
        
        <!-- Início DIV principal -->
        <div id="principal">
            <div class="principal-esq">
                <div class="titulo-login">
                <h1>LOGIN CORPORATIVO</h1>
            </div>
            <form class="form-login">
                <div class="form-email">
                    <label for="email">Email</label><br>
                    <input type="text" id="email-corp" placeholder="usuario@conta.com"><br>
                </div>
                <div class="form-senha">
                    <label for="senha">Senha</label><br>
                    <input type="password" id="password-corp" placeholder="**********"><br>
                    <button id="ver-senha"><img src="images/eye.png" alt=""></button>
                </div>
                <div class="form-opcoes">
                    <div id="chk-box">
                        <input type="checkbox" id="manter-conectado">
                        <label for="checkbox">Manter conectado</label>
                    </div>
                    <div>
                        <a href="#" id="esqueci-senha" onclick="esqueciSenha()">Esqueci a senha</a>
                    </div>
                </div>
                <div id="login-ong">
                    
                        <button class="login-submit"><a href="ong-logon.html">Entrar</a></button>
                    
                </div>
            </form>
            <div id="cadastrar-ong">
                <a href="cadastro.html"><span>Quer cadastrar sua ONG </span><span id="laranja"> Criar ONG</span></a>
            </div>
        </div>
        <div class="principal-dir">
            <img src="../assets/images/figura-principal.png" alt="">
        </div>
    </div>
    <!-- Fim DIV principal  -->

    <!-- Recuperar senha -->

    
</div>
<div id="password-recovery">
    <div id="pr-left">
        <img src="../assets/images/password-recovery.png" alt="">
    </div>
    <div id="pr-right">
        <h1>RECUPERAR SENHA</h1>
        <p>Digite seu email abaixo<br>para receber um link de recuperação</p>
        <form>
            <div class="form-email">
                <label for="recovery-mail">Email</label><br>
                <input type="email" id="recovery-email" placeholder="seuemail@conta.com">
            </div>
            <button class="login-submit">Enviar</button>
        </form>
    </div>
<script src="../assets/js/main.js"></script>
</body>
</html>