<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas notícias</title>
    <link rel="stylesheet" href="../assets/css/style-logon.css">
</head>
<body>

    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="ong-logon.html">CONTA</a></li>
                <li><a href="noticias-edicao.html">NOTÍCIAS</a></li>
                <li><a href="projetos-edicao.html">PROJETOS</a></li>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </nav>
        <div id="header-direita-logon">
            <img src="../assets/images/medal.png" alt="">
            <h2>Conta</h2>
        </div>
        <button id="botao-hamburger" onclick="mudaMenu()">
            <img src="../assets/images/hamburger.png" alt="" id="hamburger">
        </button>
        <div id="hamburger-menu">
            <ul>
                <li><a href="ong-logon.html">CONTA</a></li>
                <li><a href="noticias-edicao.html">NOTÍCIAS</a></li>
                <li><a href="projetos-edicao.html">PROJETOS</a></li>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </div>
            
    </header>
        <!-- Fim cabeçalho -->


    <!-- Início DIV principal -->
    <div id="principal">
        <div id="cabecalho-voluntarios">
            <h1>VOLUNTÁRIOS POR PROJETO</h1>
            <span>
                <form>
                    <input type="text" id="busca-voluntario" placeholder="Busca Voluntário">
                    <button id="lupa-voluntarios"><img src="../assets/images/lupa-cinza.png" alt=""></button>
                </form>
            </span>
        </div>
        <div id="listagem-voluntarios">

            <!-- Card voluntários -->
            <div class="card-voluntarios">
                <div class="imagem-voluntarios">
                    <img src="../assets/images/campanha-solidaria-voluntarios.png" alt="">
                </div>
                <div class="texto-voluntarios">
                    <h1>C. Solidária</h1>
                    <div class="voluntarios-ativos">
                        <img src="../assets/images/people-group.png" alt="">
                        <p>14 Voluntários Ativos</p>
                    </div>
                    <div class="solicitacoes">
                        <img src="../assets/images/bell.png" alt="">
                        <p>5 Solicitações</p>
                    </div>                    
                </div>
            </div>
            <!-- Fim Card Voluntários -->

            <!-- Card voluntários -->
            <div class="card-voluntarios">
                <div class="imagem-voluntarios">
                    <img src="../assets/images/imagem-prevista-voluntario.png" alt="">
                </div>
                <div class="texto-voluntarios">
                    <h1>Nome do Projeto</h1>
                    <div class="voluntarios-ativos">
                        <img src="../assets/images/people-group.png" alt="">
                        <p>14 Voluntários Ativos</p>
                    </div>
                    <div class="solicitacoes">
                        <img src="../assets/images/bell.png" alt="">
                        <p>5 Solicitações</p>
                    </div>                    
                </div>
            </div>
            <!-- Fim Card Voluntários -->

            <!-- Card voluntários -->
            <div class="card-voluntarios">
                <div class="imagem-voluntarios">
                    <img src="../assets/images/imagem-prevista-voluntario.png" alt="">
                </div>
                <div class="texto-voluntarios">
                    <h1>Nome do Projeto</h1>
                    <div class="voluntarios-ativos">
                        <img src="../assets/images/people-group.png" alt="">
                        <p>14 Voluntários Ativos</p>
                    </div>
                    <div class="solicitacoes">
                        <img src="../assets/images/bell.png" alt="">
                        <p>5 Solicitações</p>
                    </div>                    
                </div>
            </div>
            <!-- Fim Card Voluntários -->

            <!-- Card voluntários -->
            <div class="card-voluntarios">
                <div class="imagem-voluntarios">
                    <img src="../assets/images/imagem-prevista-voluntario.png" alt="">
                </div>
                <div class="texto-voluntarios">
                    <h1>Nome do Projeto</h1>
                    <div class="voluntarios-ativos">
                        <img src="../assets/images/people-group.png" alt="">
                        <p>14 Voluntários Ativos</p>
                    </div>
                    <div class="solicitacoes">
                        <img src="../assets/images/bell.png" alt="">
                        <p>5 Solicitações</p>
                    </div>                    
                </div>
            </div>
            <!-- Fim Card Voluntários -->
             
            <!-- Card voluntários -->
            <div class="card-voluntarios">
                <div class="imagem-voluntarios">
                    <img src="../assets/images/imagem-prevista-voluntario.png" alt="">
                </div>
                <div class="texto-voluntarios">
                    <h1>Nome do Projeto</h1>
                    <div class="voluntarios-ativos">
                        <img src="../assets/images/people-group.png" alt="">
                        <p>14 Voluntários Ativos</p>
                    </div>
                    <div class="solicitacoes">
                        <img src="../assets/images/bell.png" alt="">
                        <p>5 Solicitações</p>
                    </div>                    
                </div>
            </div>
            <!-- Fim Card Voluntários -->

            <!-- Card voluntários -->
            <div class="card-voluntarios">
                <div class="imagem-voluntarios">
                    <img src="../assets/images/imagem-prevista-voluntario.png" alt="">
                </div>
                <div class="texto-voluntarios">
                    <h1>Nome do Projeto</h1>
                    <div class="voluntarios-ativos">
                        <img src="../assets/images/people-group.png" alt="">
                        <p>14 Voluntários Ativos</p>
                    </div>
                    <div class="solicitacoes">
                        <img src="../assets/images/bell.png" alt="">
                        <p>5 Solicitações</p>
                    </div>                    
                </div>
            </div>
            <!-- Fim Card Voluntários -->
            
        </div>
    </div>
    <script src="../assets/js/main.js"></script>
    <!-- Fim do popup conclusão -->

</body>
</html>