<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- PASSO 1: VOCÊ TEM QUE APAGAR O <header> DO SEU CÓDIGO E COLAR ESSE NO LUGAR -->
    <!-- !!!!! COPIAR APENAS ESSE <header>  -->
    <header>
        <div class="container">
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Ongs</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </nav>
            <div class="btn-login">
                <button class="btn" id="openPopup" onclick="loginPopup()">LOGIN</button>
                <button onclick="menu_mobile()" id="hamburguer"></button>
            </div>
        </div>
    </header>

    <main>
        <div id="principal">
            RELATÓRIOS
            
            <div class="cards">
                <div class="card1">
                    <div class="icon">
                        Projetos ativos/inativos
                        <button><img src="assets/imgs/icon.png" alt=""></button>
                    </div>
                    <img src="assets/imgs/grafico1.png" alt="grafico">
                    <div class="sub">
                        <img src="assets/imgs/Legends1.png" alt="">
                    </div>
                </div>
                
                <div class="card1">
                    <div class="icon">
                        Doações
                        <button><img src="assets/imgs/icon.png" alt=""></button>
                    </div>
                    <img src="assets/imgs/grafico2.png" alt="">
                    <div class="sub">
                        <img src="assets/imgs/Legends2.png" alt="">
                    </div>
                </div>

                <div class="card1">
                    <div class="icon">
                        Acessos no sistema
                        <button><img src="assets/imgs/icon.png" alt=""></button>
                    </div>
                    <img src="assets/imgs/grafico3.png" alt="">
                    <div class="sub">
                        <img src="assets/imgs/Legends3.png" alt="">
                    </div>
                </div>

                <div class="card1">
                    <div class="icon">
                        Categorias das ONGS
                        <button><img src="assets/imgs/icon.png" alt=""></button>
                    </div>
                    <img src="assets/imgs/grafico4.png" alt="">
                </div>
            </div>

        </div>
    </main>

    <!-- ENTRE NO MEU ARQUIVO (main.js) E COPIE O CÓDIGO MARCADO LÁ -->
    <script src="../js/main.js"></script>
</body>

</html>