footer {
    background-color: #22304b;
    color: aliceblue;
    padding-inline: 20px;
}

footer .container {
    padding: 30px 0;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
}

footer .item {
    max-width: 350px;
}

footer .item h1 {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;


    background: linear-gradient(90deg, #f8c35c, #f67f2a, #f8c35c);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradiente 3s infinite linear reverse;
}

footer .item p {
    color: #8b96a1;
    text-align: justify;
    font-size: 14px;
}

footer .item .links {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

footer .item .links i {
    font-size: 32px;
    color: #8b96a1;
    border-radius: 50%;
}

footer .item a {
    text-decoration: none;
    color: #8b96a1;
    transition: .3s;
    font-size: 14px;
    padding-block: 3px;
}

footer .item a:hover {
    transform: translateY(-3px);
}

footer .item .btn {
    background: none;
    border: 2px solid var(--cor-amarelo-hover);
    border-radius: 30px;
    margin-top: 15px;
    color: #eee;
}

footer .item .btn:hover {
    background-color: var(--cor-amarelo-hover);
}

@media (max-width: 600px) {
    footer .container {
        gap: 15px;
    }

    footer .item {
        max-width: none;
    }

    footer .item h1 {
        font-size: 16px;
        margin-bottom: 7px;
    }

    footer .item p,
    footer .item a {
        font-size: 12px;
    }
}