.toast {
    position: fixed;
    top: 60px;
    right: -200px;
    /* max-width: 300px; */
    background-color: white;
    border-left: 6px solid gray;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    z-index: 1000;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    pointer-events: none;
}

.toast i {
    color: gray;
    font-size: 20px
}

/* Sucesso */
.toast.sucesso {
    border-left: 6px solid var(--cor-verde-barra);
}
.toast.sucesso i {
    color: var(--cor-verde-barra);
}

/* Erro e Desfavorito */
.toast.erro,
.toast.desfavorito {
    border-left: 6px solid var(--cor-vermelho);
}
.toast.erro i,
.toast.desfavorito i {
    color: var(--cor-vermelho);
}

/* Favorito */
.toast.favorito {
    border-left: 6px solid hotpink;
}
.toast.favorito i {
    color: hotpink;
}

/* Cor do apoio */
.toast.apoio {
    border-left: 6px solid var(--cor-apoiar);
}
.toast.apoio i {
    color: var(--cor-apoiar);
}

/* Info */
.toast.info {
    border-left: 6px solid var(--cor-concluir);
}
.toast.info i {
    color: var(--cor-concluir);
}