.conrfirmacao-ong{
    
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    
}

.card-confirmacao-ong{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20% auto;
    width: 20%;
    border-radius: 10px;
}

.card-confirmacao-ong h1{
    color: #5282E3;
    text-align: center;
}

.card-confirmacao-ong p{
    text-align: center;
}
