body {
    background-color: aliceblue;
}

main.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding: 50px 30px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

a {
    text-decoration: none;
}

.container h1 {
    /* color: var(--cor-roxo-adm); */
    text-transform: uppercase;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#resumo {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

#resumo a {
    display: flex;
    flex: 1 1 230px;
    color: var(--cor-principal);
}

#resumo .resumo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 20px;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex: 1 1 230px;
    transition: .5s;
    cursor: pointer;
}

#resumo .resumo-item:hover {
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 10px -1px, rgba(0, 0, 0, 0.6) 0px 1px 3px -1px;
}

#resumo .resumo-item h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#resumo .resumo-item h3 span {
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(28, 52, 100, 0.6);

}

#resumo .resumo-item i {
    font-size: 32px;
    color: var(--cor-roxo-adm);
}


/* ================================ */
.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* FIELDSETS */
fieldset {
    border: 3px solid var(--cor-roxo-adm);
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

fieldset#section-solicitacao {
    border: 3px solid var(--cor-roxo-adm);
}

fieldset#section-solicitacao legend {
    color: var(--cor-roxo-adm);
}

fieldset#section-ong {
    border: 3px solid var(--cor-amarelo-hover);
}

fieldset#section-ong legend {
    color: var(--cor-amarelo-hover);
}

fieldset#section-projeto {
    border: 3px solid var(--cor-azul);
}

fieldset#section-projeto legend {
    color: var(--cor-azul);
}

fieldset#section-doador {
    border: 3px solid var(--cor-verde-barra);
}

fieldset#section-doador legend {
    color: var(--cor-verde-barra);
}

fieldset legend {
    padding: 0 5px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

/* CARDS */
.card-adm {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1 1 250px;
    cursor: default;
    transition: .3s;
}

.card-adm:hover {
    transform: translateY(-4px);
}

.card-adm h4,
.card-adm span {
    padding: 10px;
}

.card-adm span {
    padding: 10px;
    text-align: center;
}

.card-adm h4 {
    border-bottom: 4px solid var(--cor-roxo-adm);
}

.card-adm:last-child h4 {
    border-bottom: 4px solid var(--cor-vermelho);
}

.card-adm:nth-child(3) h4 {
    border-bottom: 4px solid var(--cor-amarelo-hover);
}

.card-adm div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-roxo-adm);
    color: aliceblue;
    height: 40px;
    cursor: pointer;
    transition: .3s;
}

.card-adm div:hover {
    filter: brightness(.93);
}

.card-adm:last-child div {
    background-color: var(--cor-vermelho);
}

.card-adm:nth-child(3) div {
    background-color: var(--cor-amarelo-hover);
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    /* border-spacing: 0 5px; */
    border-radius: 5px;
    overflow-x: auto;
    text-align: left;
}

/* thead */
table thead th {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* tbody */
table tbody td {
    font-size: 14px;
    padding: 10px;
}

table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

table tbody td button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

table tbody td button:hover {
    filter: brightness(.9);
}

/* Tabela de Ongs */
#table-ong thead th {
    background-color: #fff3e4;
    color: var(--cor-amarelo-hover);
}

#table-ong button {
    color: var(--cor-amarelo-hover);
}

/* Tabela de Projetos */
#table-projeto thead th {
    background-color: #e4faff;
    color: var(--cor-azul);
}

#table-projeto button {
    color: var(--cor-azul);
}

/* Tabela de Doador */
#table-doador thead th {
    background-color: #e4ffe8;
    color: var(--cor-verde-barra);
}

#table-doador button {
    color: var(--cor-verde-barra);
}

/* Botão ver mais */
.btn-ver-mais {
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: var(--cor-principal);
    transition: .3s;
}

.btn-ver-mais:hover {
    color: var(--cor-roxo-adm);
}

/* Responsividade */
@media (max-width: 700px) {

    main.container,
    fieldset {
        padding-inline: 10px;
    }
}

@media (max-width: 545px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead {
        display: none;
        /* Esconde o cabeçalho */
    }

    table tbody tr {
        margin-bottom: 15px;
        background-color: #f5f5f5;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    table tbody td {
        padding: 8px 10px;
        text-align: right;
        position: relative;
    }

    table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
    }

    #table-ong tbody td::before {
        color: var(--cor-amarelo-hover);
    }

    #table-projeto tbody td::before {
        color: var(--cor-azul);
    }

    #table-doador tbody td::before {
        color: var(--cor-verde-barra);
    }
}