#nav-bar ul li:nth-child(1) a {
    color: var(--cor-amarelo);
    font-weight: bold;
}

main.conteudo-principal>section {
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    text-decoration: none;
}

.conteudo-principal h1 {
    /* color: var(--cor-roxo-adm); */
    text-transform: uppercase;
    font-size: 24px;
}

.conteudo-principal h1 i {
    color: var(--cor-roxo-adm);
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#resumo {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

#resumo a {
    display: flex;
    flex: 1 1 230px;
    color: var(--cor-principal);
}

#resumo .resumo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 20px;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex: 1 1 230px;
    transition: .5s;
    cursor: pointer;
}

#resumo .resumo-item:hover {
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 10px -1px, rgba(0, 0, 0, 0.6) 0px 1px 3px -1px;
}

#resumo .resumo-item h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#resumo .resumo-item h3 span {
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(28, 52, 100, 0.6);

}

#resumo .resumo-item i {
    font-size: 32px;
    color: var(--cor-roxo-adm);
}


/* ================================ */
.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* FIELDSETS */
fieldset {
    border: 3px solid var(--cor-roxo-adm);
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

fieldset#section-solicitacao {
    border: 3px solid var(--cor-roxo-adm);
}

fieldset#section-solicitacao legend {
    color: var(--cor-roxo-adm);
}

fieldset legend {
    padding: 0 5px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

/* CARDS */
.card-adm {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1 1 250px;
    cursor: default;
    transition: .3s;
}

.card-adm:hover {
    transform: translateY(-4px);
}

.card-adm h4,
.card-adm span {
    padding: 10px;
}

.card-adm span {
    padding: 10px;
    text-align: center;
}

.card-adm h4 {
    border-bottom: 4px solid var(--cor-roxo-adm);
}

/* .card-adm:last-child h4 {
    border-bottom: 4px solid var(--cor-vermelho);
} */

.card-adm:nth-child(3) h4 {
    border-bottom: 4px solid var(--cor-amarelo-hover);
}

.card-adm div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-roxo-adm);
    color: aliceblue;
    height: 40px;
    cursor: pointer;
    transition: .3s;
}

.card-adm div:hover {
    filter: brightness(.93);
}

.card-adm:nth-child(3) div {
    background-color: var(--cor-amarelo-hover);
}

/* Seção 3 */
.secao-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container-card {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 4px;
    gap: 10px;
    flex: 1 1 300px;
}

.container-card .top {
    display: flex;
    font-size: 15.5px;
    gap: 5px;
    padding: 15px 10px;
    border-bottom: 1px solid #bbb;
}

.container-card .top h1 {
    font-size: 15.5px;
    font-weight: 600;
}

.container-card .content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
    gap: 5px;
}

.container-card .content a.item {
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 18px;
    padding: 5px;
    transition: .3s;
    border-radius: 3px;
    cursor: default;
    color: var(--cor-principal);
}

.container-card .content .item:hover {
    background-color: #ddd;
    padding: 5px;
}

.container-card .content .item h2 {
    font-size: 14.5px;
    font-weight: 600;
}

.container-card .content .item span {
    font-size: 12px;
    font-weight: 500;
    color: #777;
}

.container-card .content .item i.fa-angle-right {
    color: #999;
}

.container-card .content .linha {
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
}

.container-card .area-btn {
    padding: 15px 10px;
}

.container-card .area-btn button {
    border-radius: 15px;
    width: 100%;
    background-color: #aaa;
}

/* Responsividade */
@media (max-width: 700px) {
    fieldset {
        padding-inline: 10px;
    }
}