body {
    background-color: aliceblue;
}

main.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding: 50px 30px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    transition: .3s;
} 

.box-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.box-cards .card-solicitacao {
    /* flex: 1 1 300px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-left: 7px solid var(--cor-vermelho);
    background-color: white;
    color: var(--cor-principal);
    transform: translateY(0);
    transition: .3s;
}

.box-cards .card-solicitacao:hover {
    border-left-color: var(--cor-amarelo-hover);
    transform: translateY(-3px);
}

.box-cards .card-solicitacao button {
    font-size: 20px;
    background-color: var(--cor-vermelho);
    border-radius: 3px;
    color: var(--cor-principal);
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.box-cards .card-solicitacao button:hover {
    background-color: var(--cor-amarelo-hover);
}

@media (max-width: 700px) {
    main.container {
        padding-inline: 10px;
    }
}

/* TIPO EMPRESA */
.box-cards .card-solicitacao-empresa {
    flex: 1 1 400px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-left: 7px solid var(--cor-roxo-adm);
    background-color: white;
    color: var(--cor-principal);
    transform: translateY(0);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-cards .card-solicitacao-empresa .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-cards .card-solicitacao-empresa .cnpj {
    color: #aaa;
    font-weight: 600;
}

.box-cards .card-solicitacao-empresa .topo small {
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
}

.box-cards .card-solicitacao-empresa p {
    font-size: 13px;
    text-align: justify;
}

.box-cards .card-solicitacao-empresa .btn-acoes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: end;
}

.box-cards .card-solicitacao-empresa .btn-acoes button {
    padding: 8px 10px;
}

.box-cards .card-solicitacao-empresa .btn-acoes button:first-child {
    background-color: var(--cor-verde-barra);
}
.box-cards .card-solicitacao-empresa .btn-acoes button:last-child {
    background-color: var(--cor-vermelho);
}

    .block-popup,
    #block-popup2 {
        display: none;
        position: fixed;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    #ipopup {
        background: #fff;
        padding: 2rem;
        border-radius: 8px;
        text-align: center;
        min-width: 300px;
    }

    .block-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        gap: 100px;
        align-items: center;
        flex-wrap: wrap;
        
    }

    .btn-sim, .btn-nao, .btn-inativar {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    .btn-sim {
        background-color: #4CAF50;
        color: white;
        font-size: 25px;
        width: 90px;
        height:60px ;
    }

    .btn-nao {
        background-color: #f44336;
        color: white;
        font-size: 25px;
        width: 90px;
        height:60px ;
    }