main.conteudo-principal > section {
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
}

main.conteudo-principal section > .container {
    flex-direction: column;
    /* padding: 40px 0px; */
    gap: 30px;
}

/* Top */
.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.top h1 {
    font-size: 24px;
}

.top h1 i {
    color: var(--cor-roxo-adm);
}

/* Área barra de pesquisa */
#form-busca {
    display: flex;
    align-items: center;
    max-width: 416px;
    width: 100%;
}

#form-busca input {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    outline: none;
    border-radius: 4px 24px 24px 4px;
    padding: 13px 65px 13px 15px;
    transition: .3s;
    width: 100%;
}

#form-busca .btn {
    font-size: 20px;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: -44px;
}

.qnt-busca {
    text-align: center;
}

/* Sessão de Baixo: Áreas dos cards */
section#box-ongs {
    display: flex;
    justify-content: space-between;
    gap: 30px 10px;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
}

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
    section#box-ongs {
        justify-content: space-evenly;
        gap: 30px 15px;
    }
}

@media (max-width: 770px) {
    .top {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 450px) {
    #form-busca {
        max-width: 320px;
    }
}