@import url('../shared/perfil-ong.css');

#dados-ong #acoes button {
    background-color: #FFCC00;
    /* background-color: var(--cor-vermelho); */
    /* color: #912B2B; */
}

#dados-ong #acoes  #btn-voluntario {
    background-color: var(--cor-vermelho);
    /* background-color: var(--cor-vermelho); */
    color: var(--cor-principal);
    
}

