@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    z-index: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1C3464;
}

a {
    text-decoration: none;
    transition: 0.7s;

}

a:hover {
    transition: 0.7s;
    color: #E3B652;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    padding: 8px;
    z-index: 999;
    width: 100%;
    background-color: #1C3464;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #5282E3;
}

#logo>img {
    width: 50%;
}

#header-direita {
    display: flex;
    padding: 10px 30px;
    gap: 60px;
    align-items: center;
}

#btn-invisible {
    display: none;
}

nav a {
    gap: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 3px;
}

nav ul li {
    display: inline-block;
}

#hamburger {
    display: none;
}

#hamburger-menu {
    display: none;
}

#botao-hamburger {
    display: none;
}

#busca {
    width: 70%;
}

#btn-login {
    padding: 10px 15px;
    background-color: #E3B652;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

#btn-login:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #E3B652;
}

#principal {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 70%;
    height: 580px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 120px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 30px;
    font-weight: 540;
    letter-spacing: 2px;
    color: #5282E3;

}

h2 {
    font-size: 23px;
    font-weight: 450;
    letter-spacing: 2px;
    color: #30AD1A
}

h3 {
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 2px;
    color: #8A8A8A;
    margin-top: 8px;
}

h5{
    font-size: 14px;
    font-weight: 550;
}

p {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #9747FF
}

.card {
    padding: 0px;
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    flex-direction: column;
}

.img {
    width: 38%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.imagemONG {
    width: 280px;
    height: 200px;
}

.titulo {
    width: 62%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.botao {
    width: fit-content;
    color: #430202;
    background-color: #E41D1D;
    padding: 12px 15px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
}

.botao:hover {
    filter: brightness(0.9);
}

.botao img{
    width: 20px;
}

.titulo span {
    background-color: #30AD1A;
    color: #FFFFFF;
    width: fit-content;
    padding: 2px;
    top: 15px;
    right: 15px;
    border-radius: 2px;
    position: absolute;

}

.doadores {
    width: 37%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
}

.cima {
    width: 100%;
    display: flex;
    gap: 20px;
}

.nomes {
    width: 45%;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    padding: 2%;
    margin: 2%;
    justify-content: space-between;
    display: flex;
    font-size: 15px;
}

.margin_nome{
    margin-right: 45px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista p {
    font-size: 15px;
    width: 40%;
    height: 45%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    cursor: pointer;
}

.lista p:hover {
    filter: brightness(0.9);
}

.lista span {
    color: #8A8A8A;
    font-size: 10px;
    padding: 1%;
    margin-top: 5px;
}

.lista img {
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.moeda {
    width: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0000006d;
    margin-top: 5px;
}

.sobre {
    width: 61%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    padding: 10px;
}

.baixo {
    width: 100%;
    display: flex;
    gap: 22px;
}

.letra {
    font-size: 15px;
    letter-spacing: 1px;
}

.interrogação {
    width: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0000006d;
}

.criacao {
    font-size: 15px;
    color: black;
    display: flex;
    padding: 11% 0% 0% 0%;

}

.baixo2{
    width: 100%;
    display: flex;
    gap: 22px;
}

.voluntario{
    width: 37%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
}

.abraco{
    width: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0000006d;
    margin-top: 5px;
}

.projeto{
    width: 61%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    padding: 10px;
}

.lampada{
    width: 25px;
    border-radius: 70px;
    box-shadow: 0 0 10px #0000006d;
    margin-top: 5px;
}

.lista_voluntarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista_voluntarios p {
    font-size: 15px;
    width: 40%;
    height: 45%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    cursor: pointer;
}

.lista_voluntarios p:hover {
    filter: brightness(0.9);
}

.lista_voluntarios span {
    color: #8A8A8A;
    font-size: 10px;
    width: 1000px;
}

.lista_voluntarios img {
    width: 29px;
    height: 28px;
    border-radius: 10px;
}

.margin_voluntarios{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: 16px;
    margin-top: -5px;
}

.margin_voluntarios span{
    margin-top: -5px;
    font-size:9px ;
    width: 100%;

}

.nomes_voluntarios {
    width: 45%;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    padding: 2%;
    margin: 2%;
    justify-content: space-between;
    display: flex;
    font-size: 15px;
}

.contato{
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    margin: 10px;
    padding: 0% 0% 2% 0%;
    width: 99%;
}

.autofalante{
    width: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0000006d;
    margin-top: 5px;
}

.letra_contato{
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    padding: 0% 1% 0% ;
}

.telefone{
    border-radius: 6px;
    box-shadow: 0 0 10px #0000006d;
    width: 340px;
    height: 37px;
    display: flex;
    padding: 0% 1% 0% 0%;
    margin:9px;
}


.letra_telefone{
    font-size: 18px;
    color:#8A8A8A ;
}

.cell{
    width: 25px;
    border-radius: 70px;
    box-shadow: 0 0 10px #0000006d;
    margin-top: 3px;
}

.projeto{
    display: flex;
    flex-direction: column;
    
}

.lista_projeto{
    width: 100%;
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projetinhos{
    width: 45%;
    height: 65px;
    border-radius: 6px;
    box-shadow: 0 0 10px #0000006d;
    display: flex;
    gap: 3px;
    margin: 5px;
    
}

.projetinhos img{
    height: 65px;
    border-radius: 6px 0px 0px 6px;
}

.ver{
    font-size: 17px;
    width: 40%;
    height: 45%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    cursor: pointer;
}

.ver:hover {
    filter: brightness(0.9);
}

.porcentagem p {
    color: #8A8A8A;
    font-size: 13px;
    padding: 1%;
    margin-top: 5px;
}

.textos {
    width: 100%;
}

.porcentagem{
    display: flex;
    align-items: center;
    width: 100%;
}

.barra{
    box-shadow: 0 0 10px #0000006d;
    border-radius: 10px;
    width: 70%;
    height: 10px;
}

.verde{
    border-radius: 10px;
    background: #30AD1A;
    width: 72px;
    height: 10px;
}

.quantitativo{
    color: #8A8A8A;
    font-size: 12px;
    padding: -2%;
    display: flex;
    margin-top: -4px;
    margin-left: 3px;
}


