@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #1C3464;
    --cor-principal-claro: #203866;
    --cor-amarelo: #E3B652;
    --cor-amarelo-hover: #cca44d;
    --cor-azul: #45BEE6;
    --cor-h1:  #5282E3;
    --cor-verde:  #30AD1A;
    --cor-cinza:  #8A8A8A;
    --cor-barra: #ECECEC;
    --cor-branca: #FFFFFF;
    --cor-preta: #000000bb;
    --preto-de-vdd:  #000000;
    --fonte: "Poppins", serif;
}

h1 {
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 2px;
    color: var(--cor-h1);

}

h2 {
    font-size: 23px;
    font-weight: 420;
    letter-spacing: 2px;
    color: var(--cor-verde)
}

h3 {
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 2px;
    color: var(--cor-cinza);
    margin-top: 8px;
}

body {
    background-color: var(--cor-principal);
}

header .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

header .btn {
    padding: 10px 20px;
    border: none;
    background-color: #E3B652;
    width: 100px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1C3464;
    transition: .3s;
    margin:10px;
}

header .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #cca44d;
}

header .btn a {
    text-decoration: none;
    color: #1C3464;
}

header {
    padding: 0 30px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #1C3464;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .logo {
    color: aliceblue;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header nav ul li {
    transform: translateY(0);
    transition: .3s;
}

header nav ul li:hover {
    transform: translateY(-2px);
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    padding-block: 8px;
    transform: translateY(0);
    transition: .3s;
}

header nav a:hover {
    color: #E3B652;
}

header .btn-login {
    display: flex;
    align-items: center;
    gap: 15px;
}

header nav.active {
    height: 180px;
    transition: .3s;
}

#hamburguer {
    border: none;
    border-top: 4px solid #E3B652;
    background: none;
    border-radius: 3px;
    display: none;
    cursor: pointer;
    position: relative;
}

#hamburguer::after,
#hamburguer::before {
    content: '';
    margin-top: 3px;
    width: 30px;
    height: 4px;
    display: block;
    background-color: #E3B652;
    border-radius: 3px;
    transition: .3s;
}

#hamburguer.active {
    border: none;
}

#hamburguer.active::after {
    transform: rotate(45deg);
    top: 0;
    position: absolute;
}

#hamburguer.active::before {
    transform: rotate(-45deg);
}

@media (max-width: 700px) {
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1C3464;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        height: 0;
        transition: .3s;
        z-index: 999;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 0;
    }

    #hamburguer {
        display: block;
    }

    #fundo-popup #popup .img {
        display: none;
    }
}

#principal {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 70%;
    height: 580px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.card {
    padding: 0px;
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    flex-direction: column;
}

.cima {
    width: 100%;
    display: flex;
    gap: 20px;
}

.titulo {
    width: 63%;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;
}

.img {
    width: 37%;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.imagemONG {
    width: 400px;
    height: 230px;
}

.barra{
    background:var(--cor-barra);
    border-radius: 10px;
    width: 100%;
    height: 15px;
}

.verde{
    border-radius:  10px 0px 0px 10px ;
    background: #30AD1A;
    width: 80px;
    height: 15px;
}

.detalhe{
    font-weight: 700;
}

.botao {
    width: fit-content;
    height: 50px;
    color: #430202;
    background-color: #E41D1D;
    padding: 12px 15px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 5px;
}

.botao:hover {
    filter: brightness(0.9);
}

.botao img{
    width: 20px;
}

.meio{
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    margin-bottom: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.meio h1{
    color:var(--cor-preta);
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
}

.meio img{
    width: 30px;
    height:30px ;
}

.sobre{
    border-radius: 20px;
    box-shadow: 0 0 10px #0000006d;
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.criacao{
    color: var(--cor-cinza);
    margin-left: 10px;
    margin-bottom: 10px;
}

.letra {
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 10px;
    width: 70%;
    margin-bottom: 30px;
}

.baixo{
    height: 260px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    margin-bottom: 15px;
}

.baixo h1{
    color:var(--cor-preta);
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
}

.doadores{
    border-radius: 20px;
    box-shadow: 0 0 10px #0000006d;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.doadores img{
    width: 25px;
    height:25px ;
}

.lista_doadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    gap: 10px;
}

.lista_doadores img{
    width: 28px;
    height: 28px;
    margin: 8px;
}

.usuario {
    width: 18%;
    height: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    justify-content: space-between;
    display: flex;
    font-size: 15px;
    align-items: center;
}

.usuario span{
    color: var(--cor-cinza);
    font-size: 12px;
    display: flex;
    padding-right: 8px;
}

.margin_usuario{
    display: flex;
    padding-right:50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: var(--cor-branca);
    box-shadow: 0 0 15px var(--cor-barra);
    cursor: pointer;
    margin-bottom: 30px;
}
button:hover{
    filter: brightness(0.9);
}

.um{
    border-radius: 6px;
    background: var(--preto-de-vdd);
    color: var(--cor-barra);
}

.um:hover{
    filter: brightness(0.9);
}

.voluntarios{
    border-radius: 20px;
    box-shadow: 0 0 10px #0000006d;
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.voluntarios img{
    width: 25px;
    height:25px ;
}

.lista_voluntarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    gap: 13px;
}

.lista_voluntarios img{
    width: 28px;
    height: 28px;
    margin: 8px;
}

.lista_voluntarios span{
    color: var(--cor-cinza);
    font-size: 12px;
    display: flex;
}


.quadradinhos {
    width: 18%;
    height: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000006d;
    justify-content: space-between;
    display: flex;
    font-size: 15px;
    align-items: center;
}

.volun{
    display: flex;
    flex-direction: column;
    /* margin-right: 30px; */
    width: 180px;
    /* background: red; */
}

.volun span{
    display: flex;
    margin-top: -5px;
}