/* Utilizar essa folha de estilo para as páginas que utilizarem os gráficos renderizados */

#principal {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
}

#principal .titulo h1 {
    font-size: 28px;
    color: var(--cor-roxo-adm);
}

#principal .cards {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    gap: 30px;
}

#principal .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    color: var(--cor-principal);
    font-weight: 500;
    font-size: 18px;
}

#principal .icon button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#principal .card1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    /* flex: 1; */
    max-width: 532px;
    /* height: 400px; */
    text-align: left;
    font-size: 20px;
    position: relative;
}

svg {
    transform: scale(.8);
}

#principal .sub {
    margin-top: 15px;
}

#principal .sub .quadrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

#principal .sub .quadrado img {
    width: 10px;
    height: 10px;
    margin: 1%;
}

#principal .sub .quadrado p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.605);
}

#principal #download p {
    font-size: 18px;
    color: black;
}

#principal #download {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: fit-content;
    padding: 20px;
    position: fixed;
    right: 76px;
    background-color: rgb(123, 215, 238);
    border-radius: 5px;
    top: 125px;
    display: none;
    animation: animacao 1s ease;
}

.grafico-linhas,
.graficos,
.grafico-horizontal {
    display: flex;
    /* padding-top: 40px; */
    /* position: absolute; */
    font-size: 0.7em;
    /* left: -30px; */
}

.graficos {
    font-size: 0.5em;
}

.barra {
    width: 10%;
    background-color: rgb(141, 217, 255);
}

.grafico-pizza {
    font-size: 0.6em;
}

.ponto {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50%;
}

@keyframes animacao {
    0% {
        top: 100%;
    }

    100% {
        top: 125px;
    }
}

.quadrado2 {
    display: flex;
    align-items: center;
    /* margin-top: 315px; */
    flex-direction: row;
    justify-content: center;
}

.quadrado2 p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.605);
    margin-right: 2%;
}

.quadrado2 img {
    margin: 1%;
}

/* Responsividade Mobile */
@media (max-width: 700px) {
    #principal .cards {
        flex-direction: column;
        margin: 5px 10px;
    }

    /* #principal .card1 {
        width: 100%;
        height: 250px;
    } */

    #principal .titulo {
        font-size: 0.7em;
    }

    #principal .icon {
        font-size: 0.5em;
    }

    #principal .icon img {
        width: 50%;
    }

    .graficos,
    .grafico-linhas,
    .grafico-pizza,
    .grafico-horizontal {
        font-size: 0.35em;
    }

    /* .quadrado2 {
        margin-top: 170px;
    } */

    .quadrado2 p {
        font-size: 0.4em;
    }

    #principal .titulo h1 {
        text-align: center;
    }
}