@import url(modal-confirmacao.css);

.conteudo-principal > section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
} 

.conteudo-principal h1 {
    font-size: 24px;
}

.conteudo-principal h1 i {
    color: var(--cor-roxo-adm);
}

.box-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.box-cards .card-solicitacao {
    /* flex: 1 1 300px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-left: 7px solid var(--cor-amarelo);
    background-color: white;
    color: var(--cor-principal);
    transform: translateY(0);
    transition: .3s;
}

.box-cards .card-solicitacao:hover {
    border-left-color: var(--cor-amarelo-hover);
    transform: translateY(-3px);
}

.box-cards .card-solicitacao button {
    font-size: 20px;
    background-color: var(--cor-amarelo);
    border-radius: 3px;
    color: var(--cor-principal);
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.box-cards .card-solicitacao button:hover {
    background-color: var(--cor-amarelo-hover);
}

/* @media (max-width: 700px) {
    main.container {
        padding-inline: 10px;
    }
} */

/* TIPO EMPRESA */
.box-cards .card-solicitacao-empresa {
    flex: 1 1 400px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-left: 7px solid var(--cor-roxo-adm);
    background-color: white;
    color: var(--cor-principal);
    transform: translateY(0);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
    transition: .3s;
}

.box-cards .card-solicitacao-empresa:hover {
    border-left-color: #6a00f3;
    transform: translateY(-3px);
}

.box-cards .card-solicitacao-empresa .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-cards .card-solicitacao-empresa .cnpj {
    color: #aaa;
    font-weight: 600;
}

.box-cards .card-solicitacao-empresa .topo small {
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
}

.box-cards .card-solicitacao-empresa p {
    font-size: 13px;
    text-align: justify;
}
.box-cards .card-solicitacao-empresa b {
    word-break: break-all;
}

.box-cards .card-solicitacao-empresa .btn-acoes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: end;
}

.box-cards .card-solicitacao-empresa .btn-acoes button {
    padding: 8px 10px;
}

.box-cards .card-solicitacao-empresa .btn-acoes button:first-child {
    background-color: var(--cor-verde-barra);
}
.box-cards .card-solicitacao-empresa .btn-acoes button:last-child {
    background-color: var(--cor-vermelho);
}
/* Botões SOLICITAÇÕES e ACEITAS */
#buttons {
    display: flex;
    width: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#buttons::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(216, 216, 216);
    pointer-events: none;
    transition: .4s;
    left: 0;
    background-color: var(--cor-roxo-adm); /* Cor para o primeiro botão */
}

#buttons.active::after {
    left: 50%;
    background-color: var(--cor-roxo-adm); /* Cor para o segundo botão */
}

#buttons button {
    width: 50%;
    padding: 9px;
    cursor: pointer;
    background: none;
    border: none;
    transition: .3s;
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
    color: var(--cor-principal);
}
#secao-parcerias {
    display: flex;
}
#secao-parcerias .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}
#secao-parcerias h1 i {
    color: var(--cor-roxo-adm);
}
#principal {
    width: 100%;
    overflow: hidden;
    padding: 2px 0;
}
#control-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    transform: translateX(0);
    transition: 0.6s;
}
.box-parcerias {
    display: flex;
    flex-direction: column;
    gap: 20px 5px;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 0 0 100%;
    height: fit-content;
}
.box-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 20px 10px;
}

.btn-doar {
    width: 100%;
    height: 100%; /* Isso faz a div ocupar toda a altura disponível */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    gap: 10px;
}

.btn-doar .btn {
    background-color: var(--cor-roxo-adm);
    font-weight: normal;
    outline: none;
}