
:root {
    --backgroud: #1C3464;
    --container-background: #FFFFFF;
    --title: #5282E3;
    --input-background: #00000022;
    --button: #E3B652;
    --button-hover: #9747FF;
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 55%;
    margin: 60px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

.buscar {
    position: relative;
    /* float: right; */
    border: solid 3px #00000084;
    width: 50%;
    height: 33px;
    border-radius: 50px;
    flex-wrap: wrap;
}

#buscar {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.1em;
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 0px;
    flex-wrap: wrap;
}

#buscar:focus {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
}

.search_img {
    position: absolute;
    float: right;
    right: 0%;
    margin: 3px 15px 0px 0px;
    /* position: absolute; */
    height: 24px;

}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    /* height: 800px; */
}

.card_projeto {
    margin-bottom: 20px;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    background-color: var(--container-background);
    /* box-shadow: 0px 0px 11px 1px #0000006d; */
    box-shadow: 0 0 11px #0000006d;
    border-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-text {
    /* padding-left: 15px; */
    margin-top: 8px;
    font-size: 1em;
    font-weight: 500;
    color: var(--backgroud);
}
.card_desc {
    font-size: 0.6em;
    text-align: justify;
    line-height: 1.3;
}

.btn_card {
    color: #ffffff;
    margin-top: auto;
    font-size: 1em;
    font-family: "Poppins", serif;
    font-weight: 450;
    background-color: var(--button);
    width: 200px;
    height: 32px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}

.btn_card:hover {
    background-color: #fafafa;
    color: var(--button);
    box-shadow: 0 0 7px #0000004c;
}

.top-text {
    font-size: 1.5em;
    color: var(--backgroud);
    font-weight: 500;
}
.card_img {
    width: 200px;
    border-radius: 2px;
    /* margin-top: 5px; */
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.btn_nav {
    background-color: var(--container-background);
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}
.btn_nav1 {
    background-color: black;
    color: white;
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}

.btn_nav:hover {
    background-color: black;
    color: white;
}

@media (max-width: 700px) {
    
    #principal {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 13px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar {
        width: 90%;
    }

    .search_img {
        position: absolute;
        right: 0%;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
