#nav-bar ul li:nth-child(2) a {
    color: var(--cor-amarelo);
    font-weight: bold;
}

:root {
    --backgroud: #1C3464;
    --container-background: #FFFFFF;
    --title: #5282E3;
    --input-background: #00000022;
    --button: #E3B652;
    --button-hover: #9747FF;
}

/* main {
    padding: 60px 0;
} */
/* body {
    background-color: aliceblue;
} */

main {
    padding: 0 20px;
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 80%;
    margin: 60px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

.buscar {
    position: relative;
    /* float: right; */
    border: solid 3px #00000084;
    width: 25%;
    height: 33px;
    margin-right: 55px;
    border-radius: 50px;
    flex-wrap: wrap;
}

#buscar {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.1em;
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 0px;
    flex-wrap: wrap;
}

#buscar:focus {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
}

.search_img {
    position: absolute;
    float: right;
    right: 0%;
    margin: 3px 15px 0px 0px;
    /* position: absolute; */
    height: 24px;

}


.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.top-text {
    font-size: 1.5em;
    color: var(--backgroud);
    font-weight: 500;
}


.botoes {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.btn_nav {
    background-color: var(--container-background);
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}

.btn_nav:hover {
    background-color: black;
    color: white;
}

.btn_nav1 {
    background-color: black;
    border: solid 1px #0000004c;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}

@media (max-width: 700px) {
    #principal {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 13px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar {
        width: 90%;
    }

    .search_img {
        position: absolute;
        right: 0%;
    }


}



/* Sessão de Baixo: Áreas dos cards */
section#box-ongs {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    /* width: 90%; */
    padding-bottom: 30px;
}

/* Botões de navegação */
#navegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#navegacao a {
    text-decoration: none;
    color: var(--cor-principal);
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

#navegacao a:hover {
    filter: brightness(.9);
}

#navegacao a.active {
    background-color: var(--cor-amarelo);
}

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
    section#top-info {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #top-info #info {
        align-items: center;
    }

    #info div {
        align-items: center;
    }

    #top-info #info p {
        text-align: center;
    }

    section#box-ongs {
        justify-content: space-evenly;
        gap: 30px 15px;
    }
}

@media (max-width: 450px) {
    #form-filtro {
        flex-direction: column;
        height: 100px;
        position: relative;
        width: 320px;
    }

    #form-filtro button {
        position: absolute;
        bottom: 5px;
        width: calc(100% - 10px);
    }

    #form-busca {
        max-width: 320px;
    }

    #form-filtro ul li {
        gap: 5px;
    }

    #form-filtro #esc-status:hover {
        width: 235px;
    }

    #form-filtro #esc-categoria:hover,
    #form-filtro #esc-regiao:hover {
        width: 190px;
    }
}
