#nav-bar ul li:nth-child(4) a {
    color: var(--cor-amarelo);
    font-weight: bold;
}

main {
    padding: 60px 0;
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

.buscar {
    position: relative;
    /* float: right; */
    border: solid 3px #00000084;
    width: 50%;
    height: 33px;
    border-radius: 50px;
    flex-wrap: wrap;
}

#buscar {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.1em;
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 0px;
    flex-wrap: wrap;
}

#buscar:focus {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
}

.search_img {
    position: absolute;
    float: right;
    right: 0%;
    margin: 3px 15px 0px 0px;
    /* position: absolute; */
    height: 24px;

}

.doadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 90%;
    /* height: 800px; */
}
.card_doador {
    border-left:solid 8px #9747FF;
    margin-bottom: 20px;
    padding: 5px 19px 5px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    background-color: white;
    box-shadow: 0 0 5px #00000093;
    border-radius: 5px;
}
.perfil_img {
    height: 54px;
}
.nome_doador {
    font-weight: 500;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    height: 27px;
}
.email_doador {
    font-size: 0.8em;
    color:#0000007f;
    margin: 0px;
    padding: 0px;
}
.info_doador {
    /* margin-right: 19%; */
    margin-left: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top-text {
    font-size: 1.5em;
    color: #1C3464;
    font-weight: 500;
}

.btn_delete_user {
    /* margin-left: 33%; */
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    border: none;
    transition: 0.2s;
}
.btn_delete_user:hover {
    filter: brightness(80%);
}
.img_delete_user {
    height: 45px;
}
.img_delete_user:hover {
    backdrop-filter: brightness(60%);
}

.card-esq {
    display: flex;
}
.card-dir {
    display: flex;
    align-items: center;
    gap: 170px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.btn_nav {
    background-color: white;
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}
.btn_nav1 {
    background-color: black;
    color: white;
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}

.btn_nav:hover {
    background-color: black;
    color: white;
}

@media (max-width: 700px) {

    #principal {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 13px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar {
        width: 90%;
    }

    .search_img {
        position: absolute;
        right: 0%;
    }

    .card_doador {
        flex-direction: column;
        height: 110px;
    }
    .card-dir {
        gap: 70px;
    }
}


/* !!! COPIAR ESSA PARTE ABAIXO SE VOCÊ NÂO TIVER O EFEITO POP-UP LOGIN */
#block-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#block-popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#block-popup.ativo {
    opacity: 1;
    visibility: visible;
}

#block-popup.ativo #ipopup {
    margin-top: 0;
}

#block-popup2.ativo {
    opacity: 1;
    visibility: visible;
}

#block-popup2.ativo #ipopup {
    margin-top: 0;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #41d20d;
}


#ipopup {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 15px 35px;
    gap: 50px;
    margin-top: 100%;
    height: 150px;
    transition: .5s ease;
    color: aliceblue;
}

#ipopup .msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#ipopup .msg h1 {
    line-height: 1.2;
    font-size: 1.3em;
    font-weight: 400;
    color: #9747FF;
    width: 100%;
}

#ipopup .msg p {
    font-size: 14px;
}
#ipopup .block-buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
}
#ipopup button {
    font-family: "Poppins", serif;
    font-size: 0.9em;
    transition: 0.2s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.396);
}
#ipopup button:hover {
    filter: brightness(0.8);
}

#ipopup .btn-sim {
    background-color: #51CD32;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
}
#ipopup .btn-nao {
    background-color: #E41D1D;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
}