
:root {
    --backgroud: #1C3464;
    --container-background: #FFFFFF;
    --title: #5282E3;
    --input-background: #00000022;
    --button: #E3B652;
    --button-hover: #9747FF;
}


@media (max-width: 700px) {
    #principal {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 13px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar {
        width: 90%;
    }

    .search_img {
        position: absolute;
        right: 0%;
    }

    .ongs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#buscar {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.1em;
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 0px;
    flex-wrap: wrap;
}

#buscar:focus {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
}

.search_img {
    position: absolute;
    float: right;
    right: 0%;
    margin: 3px 15px 0px 0px;
    /* position: absolute; */
    height: 24px;

}

.ongs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    /* height: 800px; */
}

.card_ong {
    margin-bottom: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 190px;
    background-color: var(--container-background);
    box-shadow: 0 0 11px #0000006d;
    border-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-text {
    margin-top: 8px;
    font-size: 1em;
    font-weight: 500;
    color: var(--backgroud);
}

.btn_card {
    color: #FFFFFF;
    margin-top: 4px;
    font-size: 1em;
    font-family: "Poppins", serif;
    font-weight: 450;
    background-color: var(--button);
    width: 170px;
    height: 32px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}

.btn_card:hover {
    background-color: #fafafa;
    color: var(--button);
    box-shadow: 0 0 7px #0000004c;
}

.top-text {
    font-size: 1.5em;
    color: var(--backgroud);
    font-weight: 500;
}
.card_img {
    width: 180px;
    border-radius: 2px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.btn_nav {
    background-color: var(--container-background);
    border: solid 1px #0000004c;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 500;
    box-shadow: 0px 3px 3px #00000078;
    width: 32px;
    height: 30px;
    transition: 0.3s;
}

.btn_nav:hover {
    background-color: black;
    color: white;
}