@import url(../visitante/cadastro.css);

body {
    background: linear-gradient(180deg, aliceblue 15%, #c9dcff 100%);
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

section .container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

section .container h1 {
    color: var(--cor-amarelo);
}

.line #linhaClara,
.line #linhaAzul {
    width: 75%;
}

.line #linhaAzul {
    width: 0%;
    left: 12.5%;
}

.inputBox #descricao {
    width: 630px;
    max-width: 630px;
    height: 140px;
    max-height: 140px;
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;
}

.msg-sair {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-vermelho);
    transition: 0.3s;
    /* position: absolute; */
    bottom: -50px;
    cursor: pointer;
    transition: .3s;
}

.msg-sair:hover {
    filter: brightness(.9);
}

@media (max-width: 750px) {
    .line .item {
        font-size: 9px;
    }

    .inputBox #descricao {
        width: 100%;
        max-width: 100%;
    }
}