
h2 {
    font-size: 1.3em;
    font-weight: 600;
}
h3 {
    font-size: 1.1em;
    font-weight: 400;
}
h4 {
    color: #5282E3;
    padding-bottom: 10px;
}

#cadastro {
    position: absolute;
    top: 60px;
    left: 20%;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #5282E3;
    }
}
#atuacao {
    position: absolute;
    top: 60px;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #5282E3;
    }
}
#endereco {
    position: absolute;
    top: 60px;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 8;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #5282E3;
    }
}
#responsavel {
    position: absolute;
    top: 60px;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 7;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #5282E3;
    }
}
#dados-bancarios {
    position: absolute;
    top: 60px;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 6;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #5282E3;
    }
}
#criar-login {
    position: absolute;
    top: 60px;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #5282E3;
    }
}

.titulo-cadastro {
    text-align: left;
    margin-left: 90px;
    
}
.titulo-atuacao {
    text-align: left;
    margin-left: 90px;
    
}
.prog-bar{
    position: absolute;
    width: 70px;
    height: 8px;
    z-index: 200;
}

.progress {
    display: flex;
    margin: 15px auto;
    justify-content: center;
    img {
        width: 70%;
    }    
}
.nav-buttons {
    display: flex;
    width: 78%;
    margin: 0px auto;
    justify-content: space-around;
}


#text-progress {
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    align-items: center;
    margin: 30px 115px 0px 115px;
}
.text-detalhes-draft {
    color: #6e6a6a;
}

/* Barra de progresso */

.line {
    display: flex;
    position: absolute;
    z-index: 20;
    width: 65%;
    height: 4px;
    background-color: #5282e39f;
}

.line-0,
.line-1,
.line-2,
.line-3,
.line-4,
.line-5 {
    display: flex;
    justify-content: start;
    position: relative;
    width: 1%;
    z-index: 21;
    height: 4px;
    background-color: #5282E3;
}
.line-1{
    width: 20%;
}
.line-2{
    width: 40%;
}
.line-3{
    width: 60%;
}
.line-4{
    width: 80%;
}
.line-5{
    width: 100%;
}
.p1{
    position: relative;
    top: 30px;
    width: 25px;
    height: 25px;
    z-index: 100;
    border: none;
    background-color: #5282E3;
    border-radius: 50%;
}
.p1:hover, .p2:hover {
    cursor: pointer;
    
}
.p2 {
    position: relative;
    top: 30px;
    width: 25px;
    height: 25px;
    z-index: 100;
    border: none;
    background-color: #5282e39f;
    border-radius: 50%;
}


.form-cadastro, .formulario-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 35px;
    gap: 40px;
    input {
        width: 280px;
        height: 50px;
        border-radius: 6px;
        border: none;
        background-color: #f2f2f2;
        padding-left: 20px;
    }
    select {
        width: 280px;
        height: 50px;
        border-radius: 6px;
        border: none;
        background-color: #f2f2f2;
        padding-left: 20px;
    }
}
.btn-navegacao{
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
}
.btn-navegacao-first {
    display: flex;
    justify-content: end;
    padding: 10px 90px;
}
#ver-senha{
    display: block;
    position: relative;
    border: none;
    top: -35px;
    left: 210px;
}
.voltar, .proximo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 2px;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 38px;
}
.voltar {
    background-color: #8f8888;
}
.proximo {
    background-color: #E3B652;
    color: #FFFFFF;
}
.voltar:hover {
    transition: 0.7s;
    color: #FFFFFF;
    background-color: black;
}
.proximo:hover {
    transition: 0.7s;
    color: black;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* Atuação ONG */
#form-atuacao{
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#descricao-ong {
    margin-top: 10px;
    width: 400px;
    height: 100px;
}
#areasDeAtuacao {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    flex-direction: column;
}
.row-checkbox {
    display: flex;
    justify-content: left;
    margin-right: 15px;
}
.opt-atuacao{
    display: flex;
    width: 130px;
    justify-content: left;
    font-size: 0.8em;

}

/* Efeito vira página */
@keyframes vira-pagina {
    from {
        top: 60px;
        left: 20%;
        display: flex;
    }
    to {
        transform: rotate(-90deg);
        top: -800px;
        left: -600px;
        display: none;
        
    }
}
@keyframes volta-pagina {
    from {
        top: -800px;
        left: -600px;
        display: none;
        transform: rotate(-90deg);
    }
    to {
        display: flex;
        top: 60px;
        left: 20%;
        transform: rotate(0deg);
    }
}

/* Responsividade */

@media (max-width: 481px) {
    #cadastro {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        margin-top: 130px;
        margin-bottom: 30px;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }
    .form-cadastro {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        input {
            width: 200px;
            height: 50px;
            border-radius: 6px;
            border: none;
            background-color: #e0d2d2;
            padding-left: 20px;
        }
    }
    #cadastro-ong {
        width: 100%;
    }
    .progress {
        margin: 0 auto;
    }
    
    .progress>img{
        width: 90%;
    }
    #text-progress {
        display: flex;
        font-size: 0.3em;
        margin: 5px auto;
    }
    .btn-navegacao {
        display: flex;
        justify-content: center;
        margin: 5px auto;
        gap: 60px;
    }
    .voltar, .proximo {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 0.5em;
        letter-spacing: 2px;
        border: none;
        border-radius: 6px;
        width: 80px;
        height: 20px;
    }
    /* Descrição ONG */
    #descricao-ong {
        width: 200px;
        height: 100px;
    }

}