body {
    background-color: aliceblue;
}

main.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding: 50px 30px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#title h1 {
    font-size: 28px;
    text-transform: uppercase;
}

#resumo {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

#resumo .resumo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 20px;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex: 1 1 230px;
}

#resumo .resumo-item h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#resumo .resumo-item h3 span {
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(28, 52, 100, 0.6);

}

#resumo .resumo-item i {
    font-size: 32px;
    color: var(--cor-amarelo);
}

/* Sessão: Navegação */
#nav-home {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#nav-home a {
    text-decoration: none;
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-amarelo-hover);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;   
    border-radius: 4px;
    padding: 20px 10px;
    flex: 1;
}

#nav-home a img {
    width: 80px;
}

#nav-home a span {
    font-size: 15px;
    font-weight: 600;
}

/* Sessão: Atividades */
#atividades {
    width: 100%;
}

#atividades > h4 {
    font-size: 14px;
    color: var(--cor-amarelo-hover);
}

#atividades #cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
}

#atividades .icon.tp-doacao img {
    width: 80%;
}

#atividades .card-acoes .icon {
    background: none;
    box-shadow: none;
}

@media (max-width: 600px) {
    main.container {
        padding: 50px 10px;
    }
}