main.conteudo-principal > section {
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#title h1 {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

#resumo {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

#resumo .resumo-item {
    text-decoration: none;
    color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 20px;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex: 1 1 230px;
    transition: .5s;
}

#resumo .resumo-item:hover {
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 10px -1px, rgba(0, 0, 0, 0.6) 0px 1px 3px -1px;
}

#resumo .resumo-item h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#resumo .resumo-item h3 span {
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(28, 52, 100, 0.6);

}

#resumo .resumo-item i {
    font-size: 32px;
    color: var(--cor-amarelo);
}


/* Sessão: Atividades Recentes */
#atividades-recentes > h4 {
    font-size: 14px;
    color: var(--cor-amarelo-hover);
}

#atividades-recentes .box-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
}



/* ===================== REMOVIDO POIS ESTAVA SE REPETINDO MUITO A MESMA NAVEGAÇÃO ===================== */
/* #nav-home {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#nav-home a {
    text-decoration: none;
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-amarelo-hover);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;   
    border-radius: 4px;
    padding: 20px 10px;
    flex: 1;
    transition: .3s;
}

#nav-home a:hover {
    transform: translateY(-4px);
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px 1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;   
}

#nav-home a img {
    width: 80px;
}

#nav-home a span {
    font-size: 15px;
    font-weight: 600;
} */