@import url(filtro.css);

main.conteudo-principal section {
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
}

main.conteudo-principal .container {
    flex-direction: column;
    gap: 30px;
    transition: .3s;
}

main.conteudo-principal .container h1 {
    font-size: 24px;
}

main.conteudo-principal .container h1 i {
    color: var(--cor-amarelo-hover);
}

main.conteudo-principal .container .topo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

main.conteudo-principal .container .topo .btn-novo {
    background-color: var(--cor-verde-barra);
}

/* Área barra de pesquisa */
#form-busca {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
}

#form-busca input {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    outline: none;
    border-radius: 4px 24px 24px 4px;
    padding: 10px 65px 10px 15px;
    transition: .3s;
    width: 100%;
}

#form-busca .btn {
    font-size: 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -40px;
}

/* ARÉA DOS CARDS */
main.conteudo-principal .container .area-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

@media (max-width: 500px) {
    main.conteudo-principal .container .topo {
        justify-content: center;
    }
}
/* Define a animação da seta */
.drop .fa-angle-down {
    transition: transform 0.50s ease;
    transform-origin: center;
}

/* Quando o dropdown estiver aberto */
.drop.open .fa-angle-down {
    transform: rotateX(180deg);
}

/* Dropdown menu abrindo para baixo */
.drop-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 1.0s ease, opacity 1.0s ease, transform 1.0s ease;
}

.drop.open .drop-menu {
    max-height: 300px; /* o suficiente para seus itens */
    opacity: 1;
    transform: translateY(0);
}

