main .container {
    /* padding: 50px 30px; */
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    flex-direction: column;
    gap: 40px;
    transition: .3s;
}

main .container h1 {
    font-size: 24px;
}

main .container h1 i {
    color: var(--cor-amarelo-hover);
}

main .container .topo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

main .container .topo .btn-novo {
    background-color: var(--cor-verde-barra);
}

/* Área barra de pesquisa */
#form-busca {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
}

#form-busca input {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    outline: none;
    border-radius: 4px 24px 24px 4px;
    padding: 10px 65px 10px 15px;
    transition: .3s;
    width: 100%;
}

#form-busca .btn {
    font-size: 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -40px;
}

/* ARÉA DOS CARDS */
main .container .area-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

@media (max-width: 500px) {
    main .container .topo {
        justify-content: center;
    }
}

/* CATEGORIAS */
.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.categorias label {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1px 3px; 
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.categorias input[type="checkbox"] {
    margin-right: 1px;
}

.categorias label:hover {
    background: #eef5ff;
    border-color: #007bff;
}
