@import url(../../global/login.css);

form #span-cadastro a {
    color: var(--cor-amarelo);
}

form #span-cadastro a:hover {
    color: #ff931f;
}

form h1 {
    color: var(--cor-amarelo);
}

#popup-recuperar-senha div h2 {
    color: var(--cor-amarelo);
    font-weight: 500;
}

input#lembrar {
    accent-color: var(--cor-amarelo-hover);
}


@media (max-width: 700px) {
    form h1 {
        width: 50%;
    }
}

@media (max-width: 330px) {
    form h1 {
        width: 100%;
    }
}