@import url('../../components/popup/formulario-noticia.css');
#noticias-publicadas h2 {
    font-size: 1.3em;
    font-weight: 600;
}

#principal button {
    transition: .3s;
}

#principal .card-noticia button:hover {
    cursor: pointer;
    filter: brightness(.8);
}

#principal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
    max-width: 1200px;
    min-height: 400px;
    margin:auto;
    padding: 50px 20px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    h1 {
        font-size: 32px;
        letter-spacing: 1px;
        color:#F79329;
    }
}
#painel-l1, #painel-l2, #painel-l3, #painel-l4 {
    display: flex;
    justify-content: space-between;
}

/*Cadastro de notícias */

.botao-nova-noticia {
    background-color: #51CD32;
    color: var(--cor-principal);
    font-size: 15px;
    font-weight: 600;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    transition: .3s;
}
.botao-nova-noticia:hover {
    transform: translateY(-3px);
    transition: .3s;
    cursor: pointer;
}
#noticias-publicadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#noticias-publicadas>a{
    text-decoration: none;
    color: black;
}
.card-noticia {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 30px 10px;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 45%;
    font-size: 0.8em;
}
.btn-edicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}
.btn-edicao button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
/* Pop Up conclusão */

#pop-conclusao{
    display: none;
    position: absolute;
    width: 15%;
    text-align: center;
    top: 40%;
    left: 40%;
    background-color: #efe2e2;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(1,1,1,0.7);
}

/* Responsividade */
@media (max-width: 481px){
    body {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        background-color: aliceblue;
        margin: 0 auto;
    }
    #painel-l1, #painel-l2, #painel-l3, #painel-l4 {
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
    }
    #painel-l1 {
        flex-direction: column;
        padding-top: 10px;
        gap: 20px;
    }
    #painel-l1 h1 {
        font-size: 1em;
    }
    #principal {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }
    .card-noticia {
        flex-direction: column;
        border: 1px solid gray;
        max-width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        
    }
    .btn-edicao {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding-top: 30px;
    }
    #pop-conclusao{
        top: 80%;
        left: 20%;
        width: 60%;

    }
}

