@import url(../shared/perfil-projeto.css);

#dados-projeto #acoes #btn-inativar {
    background-color: var(--cor-vermelho);
    color: #912B2B;
}
#dados-projeto #acoes #btn-editar {
    background-color: #FFCC00;
    color: #912B2B;
}

/* POPUP */
#editar-projeto-popup .container-popup {
    background-color: aliceblue;
    color: var(--cor-principal);
    padding: 15px;
    gap: 20px;
    flex-direction: column;
}

#editar-projeto-popup .container-popup .box-edit {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editar-projeto-popup .container-popup .box-edit button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #FFCC00;
    color: #912B2B;
}

#editar-projeto-popup .container-popup .box-edit button i {
    font-size: 20px;
}

#editar-projeto-popup .container-popup h1 {
    font-size: 20px;
}


form .input-group {
    display: flex;
    gap: 15px;
}

.input-group .input-box:first-child {
    width: 90%;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 13px;
}

.input-box label span {
    font-size: 15px;
    color: red;
    font-weight: 600;
}

.input-box input,
.input-box textarea {
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    transition: .3s;
    width: 100%;
    max-width: 400px;
}
.input-box input:focus,
.input-box textarea:focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}