@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#principal {

    justify-content: space-around;
    z-index: 1;
    width: 60%;
    margin: 120px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.header-principal {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.header-principal {
    h1 {
        color: #1C3D47;
        font-size: 1.5em;
        font-weight: 400;
    }
}

.input-buscar-projetos {
    width: 280px;
    height: 49px;
    border-radius: 50px;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
}

.botao-novo-projeto {
    background-color: #51CD32;
    color: black;
    font-size: 18px;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.botao-novo-projeto:hover {
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.div-input-lupa {

    position: relative;
    width: 250, px;
}

.lupa-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.lupa-input:hover {
    cursor: pointer;
}

.div-card-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 65px;
}

.card {
    width: 245px;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;

    p {
        font-size: 18px;

    }

}

.img-card {
    width: 100%;
    height: auto;
    align-items: center;
}

.btn-card {
    background-color: #E3B652;
    color: black;
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn-card:hover {
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* tela oculta de criação do projeto */

.tela-de-criacao-projeto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tela-de-criacao-projeto-fundo {
    display: flex;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 50%;
    border-radius: 10px;
    gap: 10px;
}

.tela-de-criacao-projeto-conteudo {
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.titulo-tela-criacao {
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #F29200;
    font-size: 30px;
}


.div-input-lapis {
    position: relative;
    width: 100%;
}

.div-input-lapis input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div-input-lapis img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-perfil {
    left: 5px;
    width: 20px;
    height: 20px;
}

.img-cifrao {
    left: 5px;
    width: 20px;
    height: 20px;
}

.lapis-input {
    right: 5px;
    width: 20px;
    height: 20px;
}

.div-form {
    display: flex;
    gap: 30px;
}

#preco {
    width: 80px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#descricaoProjeto {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.conteudo-lado-direito {
    width: 30%;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.img-tela-de-criacao {
    width: 100%;
    height: auto;
    align-items: center;
}

.div-img-botao {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 5px;
}

.div-botao-uploud {
    display: flex;
    position: relative;
    width: 250, px;
}

.img-add {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 10px;
    width: 30px;
    height: 30px;
}


.upload {
    color: black;
    font-size: 20px;
    font-family: "Agdasima", serif;
    color: #F29200;
    width: 190px;
    height: 40px;
    border-radius: 5px;
    border-color: #F29200;
    border-style: dashed;
}

.upload:hover {
    background-color: #ccc;
}

.div-botao-add {
    display: flex;
    position: relative;
    width: 250, px;
}

.img-add {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 30px;
    height: 30px;
}

.botao-salvar {
    font-family: "Agdasima", serif;
    background-color: #51CD32;
    color: black;
    width: 190px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.botao-salvar:hover {
    background-color: #47b12c;
}

/* tela confirmação de projeto criado */

.tela-confirma-criacao {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-confirma-criacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 20%;
    border-radius: 10px;
    gap: 10px;
}

.div-projeto-criado {
    display: flex;
    position: relative;
    width: 250, px;
}

.titulo-projeto-criado {
    font-size: 25px;
    color: #188241;
}

.img-check {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;

}


@media (max-width: 481px) {
    
}