@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#principal {
    
    justify-content: space-around;
    z-index: 1;
    width: 60%;
    margin: 120px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.header-principal{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.info-projeto-editar{
    display: flex;
    gap: 10px;
}

.info-projeto{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info-projeto h1{
    color: #007AFF;
    font-size: 30px;
    padding: 10px;
}

.img-meta{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.info-projeto p{
    padding-top: 5px;
    padding-left: 10px;
}

.div-img-edicao{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div-img-edicao img{
    padding: 5px;
    width: 100%;
    height: auto;
}

.div-botao-editar-inativar{
    display: flex;
    padding-top: 30px;
    gap: 20px;
    padding-bottom: 40px;
}

.div-botao-editar{
    display: flex;
    position: relative;
    width: 250,px;
}

.div-botao-editar img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 10px;
}

.btn-editar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 55px;
    font-family: "Comfortaa", serif;
    font-size: 24px;
    color: #5B4900;
    border: none;
    border-radius: 5px;
    background-color: #FFCC00;
    position: relative;
    padding-right: 40px;
}

.btn-editar:hover{
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.div-botao-inativar{
    display: flex;
    position: relative;
    width: 250,px;
}

.div-botao-inativar img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 5px;
    
}

.btn-inativar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 55px;
    font-family: "Comfortaa", serif;
    font-size: 24px;
    color: #5B4900;
    border: none;
    border-radius: 5px;
    background-color: #E41D1D;
    position: relative;
    padding-right: 40px;
}

.btn-inativar:hover{
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.sobre-projeto{
    width: 100%;
    padding-top: 10px;
    gap: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    
    
}

.div-btn-sobre{
    display: flex;
    position: relative;
    width: 100px;
}

.btn-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 40px;
    font-family: "Poppins", serif;
    font-size: 24px;
    color: black;
    
    border-radius: 50px;
    background-color: white;
    position: relative;
    padding-right: 30px;
}

.img-sobre{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 5px;
}

.sobre-projeto p{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sobre-projeto textarea{
    font-size: 14px;
    width: 70%;
    height: 100px;
    border: none;
    
}

/* sub tela edição */

.tela-de-edicao-projeto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.tela-de-edicao-projeto-fundo {
    display: flex;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 50%;
    border-radius: 10px;
    gap: 10px;
   
}

.tela-de-edicao-projeto-conteudo{
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

.img-editar{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 5px;
}

.div-botao-salvar-ateracao{
    display: flex;
    position: relative;
    width: 250,px;
}



.botao-salvar-alteracao{
    display: flex;
    align-items: center;
    font-family: "Agdasima", serif;
    background-color: #FFCC00;
    color: #5B4900;
    width: 190px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 20px;
}

.botao-salvar-alteracao:hover{
    background-color: #fcd847;
}

/* tela de confirmação edição */

.tela-confirma-edicao{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-confirma-edicao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 20%;
    border-radius: 10px;
    gap: 10px;
}

.div-projeto-editado{
    display: flex;
    position: relative;
    width: 250,px;
}

.titulo-projeto-editado{
    font-size: 25px;
    color: #188241;
}

.img-check{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: -30px;
    
}

/* tela para inativar Projeto */

.tela-inativa-projeto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
}

.tela-inativa-projeto-fundo {
    display: flex;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 50%;
    border-radius: 10px;
    gap: 10px;
    
    
}

.tela-inativa-projeto-conteudo{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
 
}

.quadro {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.quadro h2 {
    text-align: left;
    color: #333;
}
.opcoes {
    list-style-type: none;
    padding: 0;
}
.opcoes li {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.opcoes li:hover {
    background-color: #d3d3d3;
}

.div-btn-inativar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-inativa{
    background-color: #E3B652;
    color: black;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

/* tela confirma inativação */

.tela-confirmacao-inativacao{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-confirma-inativacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 20%;
    border-radius: 10px;
    gap: 10px;
}

.div-confirma-inativacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-lixeira{
    width: 50px;
    height: 50px;
}

.titulo-confirma-inativacao{
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #9747FF;   
}

@media (max-width: 768px){
    #principal {
        width: 80%;
        margin: 50px auto;
        padding: 20px;
    }
    
    .info-projeto-editar{
        flex-direction: column;        
    }
    
    .info-projeto{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .info-projeto h1{
        font-size: 18px;
        text-align: center;
    }
    
    .img-meta{
        width: 100%;
        height: 30px;
    }
    
    .info-projeto p{
        font-size: 12px;
    }
    
    .div-img-edicao{
        width: 100%;
        height: auto;
    }
    
    .div-img-edicao img{
        padding: 5px;
        width: 100%;
        height: auto;
    }
    
    .div-botao-editar img{
        width: 15px;
        height: 15px;
    }
    
    .btn-editar{
        width: 98px;
        height: 35px;
        font-size: 16px;
    }
    
    .div-botao-inativar img{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%; 
        transform: translateY(-50%);
        right: 10px;
        
    }
    
    .btn-inativar{
        width: 98px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
    }
    
    .div-btn-sobre{
        display: flex;
        position: relative;
        width: 100px;
    }
    
    .btn-sobre{
        padding-left: 5px;
        width: 78px;
        height: 25px;
        font-size: 16px;
    }
    
    .img-sobre{
        width: 15px;
        height: 15px;
        right: 25px;
    }
    
    .sobre-projeto p{
        font-size: 16px;
    }
    
    .sobre-projeto textarea{
        font-size: 12px;
        width: 100%;
        height: 100px;
    }
}