<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia</title>
    <link rel="stylesheet" href="../css/noticia.css">  
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Ongs</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="tela-noticias.html">Notícias</a></li>
                </ul>
            </nav>
            <div class="btn-login">
                <button class="btn" id="openPopup" onclick="loginPopup()">LOGIN</button>
                <button onclick="menu_mobile()" id="hamburguer"></button>
            </div>
        </div>


        <div id="fundo-popup">
            <div id="popup">
                <div class="msg">
                    <h1>Olá, Seja <br> Bem-Vindo!</h1>
                    <p>Escolha seu tipo de acesso:</p>
                    <ul>
                        <li><i class="fa-solid fa-user"></i><a href="#">Sou um doador</a></li>
                        <li><i class="fa-solid fa-house-flag"></i><a href="#">Sou uma ONG</a></li>
                        <li><i class="fa-solid fa-user-secret"></i></i><a href="#">Administrador</a></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="../img/celular.png">
                </div>
            </div>
        </div>
    </header>

    <script src="../js/main.js"></script>
    <script src="../js/noticia.js"></script>

    <div id="principal">
        <div class="carousel">
            <div class="carousel-imgs">
                <img src="../img/sos.png" class="carousel-item">
                <img src="../img/bombeiro.png" class="carousel-item">
                <img src="../img/alagamento1.jpg" class="carousel-item">
                <img src="../img/alagamento2.jpg" class="carousel-item">
            </div>
        </div>

        <div class="titulo">
            <h1>Título da notícia</h1>
            <p>Publicado em: 29 de agosto de 2024</p>
            <h3>Nome da ONG</h3>
        </div>

        <div class="texto">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis molestie commodo.
                 Donec cursus ex vitae erat eleifend viverra. Sed luctus metus at nisl interdum suscipit. Ut venenatis aliquet lacus ut placerat.
                Morbi bibendum,nulla feugiat laoreet cursus, purus sem vestibulum massa, laoreet rutrum justo diam non urna. Nulla facilisi. 
                 Suspendisse hendrerit nunc vehicula sem mattis tincidunt. Nulla facilisi. Mauris suscipit lorem vitae mi cursus, at laoreet urna elementum. 
                 Proin vel tellus eu massa iaculis cursus. Aliquam ultrices enim et gravida scelerisque. Sed et molestie eros. Duis sit amet velit tincidunt,
                consequat velit ac, fermentum nisi.</p>
        </div>

        <div class="baixo">
            <div>
                <img src="../img/lama.png" > 
            </div>

            <div class="subtitulo">
                <h3>Subitítulo</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis molestie commodo.
                    Donec cursus ex vitae erat eleifend viverra. Sed luctus metus at nisl interdum suscipit. Ut venenatis aliquet lacus ut placerat.
                   Morbi bibendum,nulla feugiat laoreet cursus, purus sem vestibulum massa, laoreet rutrum justo diam non urna. Nulla facilisi. 
                    Suspendisse hendrerit nunc vehicula sem mattis tincidunt. Nulla facilisi. Mauris suscipit lorem vitae mi cursus, at laoreet urna elementum. 
                    Proin vel tellus eu massa iaculis cursus. Aliquam ultrices enim et gravida scelerisque. Sed et molestie.
                </p>
            </div>

        </div>
    </div>


</body>
</html>