<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Projetos</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/view/cad-ong/ong-logon.html">HOME</a></li>
                <li><a href="/view/cad-ong/visualizar-projetos.html">PROJETOS</a></li>
                <li><a href="#">VOLUNTÁRIOS</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </nav>
        <div id="header-direita">
            <div class="medalha-conta">
                <img src="/assets/images/medalha.png" alt="">
                <h2>Conta</h2>
            </div>
        </div>
    </header>
        <div id="principal">
            <div class="header-principal">
                <div class="info-projeto-editar">
                    <div class="info-projeto">
                        <h1>Campanha Solidária</h1>
                        <img src="/assets/images/Meta.png" alt="">
                        <p>Meta: <b>R$ 100.000</b> </p>
                        <p>Status: Em progresso <b>(20% alcançado)</b></p>
                        <p><b>24</b> Doações Recebidas</p>
                    </div>
                    <div class="div-img-edicao">
                        <img src="/assets/images/img-projeto-edicao.png" alt="">
                    </div>
                </div>
            </div>

            <div class="div-botao-editar-inativar">
                <div class="div-botao-editar">
                    <button class="btn-editar" id="editarprojeto">Editar</button>
                    <img src="/assets/images/editar.png" alt="">
                </div>
                <div class="div-botao-inativar">
                    <button class="btn-inativar">Inativar</button>
                    <img src="/assets/images/lixeira.png" alt="">
                </div>
            </div>

            <div class="sobre-projeto">
                <div class="div-btn-sobre">
                    <button class="btn-sobre">Sobre</button>
                    <img class="img-sobre" src="/assets/images/interrogacao.png" alt="">
                </div>
                <p>Projeto criado em: 04/08/2023</p>
                <textarea name="" id="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui quasi accusamus ipsa inventore deserunt perspiciatis unde dolorum reiciendis officia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui quasi accusamus ipsa inventore deserunt perspiciatis unde dolorum reiciendis officia? </textarea>
            </div>
            
        </div>

       <!-- tela para Novo Projeto -->
    <div id="tela-de-edicao-projeto" class="tela-de-criacao-projeto">
        <div class="tela-de-criacao-projeto-fundo">
            <div class="tela-de-criacao-projeto-conteudo">


                <div>
                    <h2 class="titulo-tela-criacao">Novo Projeto</h2>

                    <div class="div-form">
                    
                    
                    <div>
                        <label for="nomeProjeto">Nome</label><br>
                        <div class="div-input-lapis">
                            <img class="img-perfil" src="/assets/images/img-perfil-input.png" alt="">
                            <input type="text" id="nomeProjeto" placeholder="Novo Projeto">
                            <img class="lapis-input" src="/assets/images/lapis.png" alt="">
                        </div>
                    </div>

                    <div>
                        <label for="metaProjeto">Meta de Doações</label><br>
                        <div class="div-input-lapis">
                            <img class="img-cifrao" src="/assets/images/cifrao.png" alt="">
                            <input type="text" id ="metaProjeto" placeholder="R$00,00">     
                            <img class="lapis-input" src="/assets/images/lapis.png" alt="">
                        </div>   
                    </div>           
                    
                    </div>
                </div>

                    
                <div>
                    <label for="preco">Preços</label><br>

                    <select id="preco">
                    <option value="preco">Preços</option>
                    <option value="10,00">10,00</option>
                    <option value="20,00">20,00</option>
                    <option value="30,00">30,00</option>
                    <option value="50,00">50,00</option>
                    </select>
                </div>
            
                <div class="div-input-lapis">
                    <label for="descricaoProjeto">Descrição</label><br>
                    <textarea id="descricaoProjeto" name="descricaoProjeto"></textarea><br>
                    <img class="lapis-input" src="/assets/images/lapis.png" alt="">
                </div>
            

            </div>

            <div class="conteudo-lado-direito">
                <div class="div-img-botao">
                    <img class="img-tela-de-criacao" src="/assets/images/foto-projeto-card.png" alt="">
                    <div class="div-botao-uploud">
                        <img class="img-add" src="/assets/images/uploud.png" alt="">
                        <button class="upload">Upload de Fotos</button>
                    </div>                    
                </div>
                <div class="div-botao-add">
                <button class="botao-salvar" id="salvarprojeto">Salvar Projeto</button>
                <img class="img-add" id="salvarprojeto" src="/assets/images/add.png" alt="">
                </div>
            </div>

        </div>
        
    </div>

    <script src="/assets/js/script.js"></script>