<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas notícias</title>
    <link rel="stylesheet" href="../assets/css/style-logon.css">
</head>
<body>

    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="ong-logon.html">CONTA</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">VOLUNTÁRIOS</a></li>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </nav>
        <div id="header-direita-logon">
            <img src="../assets/images/medal.png" alt="">
            <h2>Conta</h2>
        </div>
        <button id="botao-hamburger" onclick="mudaMenu()">
            <img src="../assets/images/hamburger.png" alt="" id="hamburger">
        </button>
        <div id="hamburger-menu">
            <ul>
                <li><a href="ong-logon.html">CONTA</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">VOLUNTÁRIOS</a></li>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </div>
            
    </header>
        <!-- Fim cabeçalho -->


    <!-- Início DIV principal -->
    <div id="principal">
        <div class="container-fotos">
            <div class="fotos-slide">
                <img src="../assets/images/noticia-foto1.jpg" alt="">
                <img src="../assets/images/noticia-foto2.jpg" alt="">
                <img src="../assets/images/noticia-foto3.jpg" alt="">
                <img src="../assets/images/noticia-foto4.jpg" alt="">
                <img src="../assets/images/noticia-foto5.jpg" alt="">
            </div>
        </div>
        <div class="cabecalho-noticia">
            <div>
                <h1 class="h1-pb">SOS Rio Grande do Sul</h1>
                <h2 class="h2-pb">Publicado em 29 de agosto de 2024</h2>
            </div>
            <div class="botoes-edicao">
                <button style="background-color: #FFCC00;">Editar<img src="../assets/images/edit-noticia.png" alt=""></button>
                <button style="background-color: #E41D1D;">Excluir<img src="../assets/images/delete-noticia.png" alt=""></button>
            </div>
        </div>
        <div id="texto-noticia">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis molestie commodo. 
                Donec cursus ex vitae erat eleifend viverra. Sed luctus metus at nisl interdum suscipit. Ut venenatis 
                aliquet lacus ut placerat. Morbi bibendum, nulla feugiat laoreet cursus, purus sem vestibulum massa, 
                laoreet rutrum justo diam non urna. Nulla facilisi. Suspendisse hendrerit nunc vehicula sem mattis 
                tincidunt. Nulla facilisi. Mauris suscipit lorem vitae mi cursus, at laoreet urna elementum. Proin vel 
                tellus eu massa iaculis cursus. Aliquam ultrices enim et gravida scelerisque. Sed et molestie eros. 
                Duis sit amet velit tincidunt, consequat velit ac, fermentum nisi.</p>
            <img src="../assets/images/noticia-foto-meio.png" alt="" id="foto-meio-noticia">
            <h3>Subtitulo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis molestie commodo. 
                Donec cursus ex vitae erat eleifend viverra. Sed luctus metus at nisl interdum suscipit. 
                Ut venenatis aliquet lacus ut placerat. Morbi bibendum</p>
        </div>
    </div>
    <!-- Fim DIV principal  -->
    <script src="../assets/js/main.js"></script>
</body>
</html>