<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas notícias</title>
    <link rel="stylesheet" href="../assets/css/style-logon.css">
</head>
<body>

    <!-- Início cabeçalho -->
    <header>
        <div id="logo">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="ong-logon.html">CONTA</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">VOLUNTÁRIOS</a></li>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </nav>
        <div id="header-direita-logon">
            <img src="../assets/images/medal.png" alt="">
            <h2>Conta</h2>
        </div>
        <button id="botao-hamburger" onclick="mudaMenu()">
            <img src="../assets/images/hamburger.png" alt="" id="hamburger">
        </button>
        <div id="hamburger-menu">
            <ul>
                <li><a href="ong-logon.html">CONTA</a></li>
                <li><a href="#">PROJETOS</a></li>
                <li><a href="#">VOLUNTÁRIOS</a></li>
                <li><a href="#">PERFIL</a></li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </div>
            
    </header>
        <!-- Fim cabeçalho -->


    <!-- Início DIV principal -->
    <div id="principal">
        <div id="painel-l1">
            <h1>SUAS NOTÍCIAS PUBLICADAS</h1>
            <button id="cadastrar-nova-pub">Nova Notícia</button>
        </div>
        <div id="noticias-publicadas">
            <div class="card-noticia">
                <img src="../assets/images/sos-rs.png" alt="">
                <span>
                    <h2><a href="#">SOS Rio Grande do Sul</a></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui quasi accusamus ipsa inventore deserunt perspiciatis unde dolorum reiciendis officia? </p>
                </span>
                <span class="btn-edicao">
                    <a href="noticias-edicao.html"><button><img src="../assets/images/edit.png" alt=""></button></a>
                    <button onclick="popConclusao('delete')"><img src="../assets/images/delete.png" alt=""></button>
                </span>
            </div>
            <div class="card-noticia">
                <img src="../assets/images/imagem-prevista.png" alt="">
                <span>
                    <h2>Título da Matéria</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui quasi accusamus ipsa inventore deserunt perspiciatis unde dolorum reiciendis officia? </p>
                </span>
                <span class="btn-edicao">
                    <button><img src="../assets/images/edit.png" alt=""></button>
                    <button onclick="popConclusao('delete')"><img src="../assets/images/delete.png" alt=""></button>
                </span>
            </div>
            <div class="card-noticia">
                <img src="../assets/images/imagem-prevista.png" alt="">
                <span>
                    <h2>Título da Matéria</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui quasi accusamus ipsa inventore deserunt perspiciatis unde dolorum reiciendis officia? </p>
                </span>
                <span class="btn-edicao">
                    <button><img src="../assets/images/edit.png" alt=""></button>
                    <button onclick="popConclusao('delete')"><img src="../assets/images/delete.png" alt=""></button>
                </span>
            </div>
            <div class="card-noticia">
                <img src="../assets/images/imagem-prevista.png" alt="">
                <span>
                    <h2>Título da Matéria</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui quasi accusamus ipsa inventore deserunt perspiciatis unde dolorum reiciendis officia? </p>
                </span>
                <span class="btn-edicao">
                    <button><img src="../assets/images/edit.png" alt=""></button>
                    <button onclick="popConclusao('delete')"><img src="../assets/images/delete.png" alt=""></button>
                </span>
            </div>
        </div>
    </div>
    <!-- Fim DIV principal  -->

    <!-- Pop-up conclusão -->
    <div id="pop-conclusao">
        <img id="icone-conclusao" src="" alt="" width="20%">
        <p id="texto-conclusao"></p>
    </div>
    <script src="../assets/js/main.js"></script>
    <!-- Fim do popup conclusão -->
    
    <script src="../assets/js/main.js"></script>
</body>
</html>