<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário ONG</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/view/tela-ongs/Criar-cadastro-de-ONG/svgs projeto ongs/Logo.svg" alt="Logo" class="logo">
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Ongs</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </nav>
            <div class="btn-login">
                <button class="btn" id="openPopup" onclick="loginPopup()">LOGIN</button>
                <button onclick="menu_mobile()" id="hamburguer"></button>
            </div>
        </div>
    </header>

    <div id="principal">
        <div class="conteudo-centralizado">
            <div class="principal-esq">
                <h1>ATUAÇÃO DA ONG</h1>
                <div class="etapas">
                    <div class="etapa ativa">1</div>
                    <div class="conector ativa"></div>
                    <div class="etapa ativa">2</div>
                    <div class="conector"></div>
                    <div class="etapa">3</div>
                    <div class="conector"></div>
                    <div class="etapa">4</div>
                    <div class="conector"></div>
                    <div class="etapa">5</div>
                    <div class="conector"></div>
                    <div class="etapa">6</div>
                </div>
                <section>
                    <h2>Descrição</h2>
                    <textarea placeholder="Resumo da sua ONG" class="form-input"></textarea>
                    <h3>Áreas de atuação</h3>
                    <div class="areas">
                        <label><input type="checkbox"> Saúde</label>
                        <label><input type="checkbox"> Esporte</label>
                        <label><input type="checkbox"> Meio Ambiente</label>
                        <label><input type="checkbox"> Tecnologia</label>
                        <label><input type="checkbox"> Educação</label>
                        <label><input type="checkbox"> Cultura</label>
                        <label><input type="checkbox"> Proteção Animal</label>
                        <label><input type="checkbox"> Direitos Humanos</label>
                    </div>
                    <div class="form-buttons">
                        <button class="botao-voltar">Voltar</button>
                        <button class="botao-proximo">Próximo</button>
                    </div>
                </section>
            </div>
            <div class="principal-dir">
                <img src="images/figura-principal.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>