#container-principal .container-noticia {
    /* background-color: red; */
    box-shadow: none;
    padding: 0;
}

main .container-noticia {
    max-width: 1200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

main section {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

section.area-materia {
    flex-direction: column;
    text-align: justify;
    position: relative;
}

/* Carrossel */
#carousel-imgs {
    /* max-width: 100%; */
    max-height: 510px;
    display: flex;
    gap: 30px;
    transition: 1s ease-in-out;
    width: 100%;
}

#carousel-imgs img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.25) 0px 1px 3px 1px;
}

/* Título */
.area-materia p {
    text-indent: 30px;
    color: #666;
}

.area-materia .titulo span {
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
}

.area-materia .titulo a {
    color: var(--cor-amarelo);
    cursor: pointer;
    transition: .3s;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.area-materia .titulo a:hover {
    color: var(--cor-amarelo-hover);
}

.sub-texto h3 {
    font-weight: 600;
}

/* Botões */
.area-materia .area-acoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.area-materia .area-acoes button:first-child {
    background-color: #FFCC00;
    padding-inline: 40px;
}

.area-materia .area-acoes button:last-child {
    background-color: var(--cor-vermelho);
    padding-inline: 40px;
}


/* Subtítulo */
.area-materia .subtitulo {
    display: flex;
    gap: 10px 20px;
}

.area-materia .subtitulo .sub-img {
    border-radius: 5px;
    overflow: hidden;
    min-width: 430px;
    max-height: 280px;
    max-width: 430px;
        box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.25) 0px 1px 3px 1px;
    /* background-color: rgb(48, 48, 48); */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.area-materia .subtitulo .sub-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 800px) {
    .area-materia .subtitulo {
        flex-wrap: wrap;
        justify-content: center;
    }

    .area-materia .subtitulo .sub-img {
        width: 100%;
        min-width: auto;
        margin-top: 20px;
    }

    .area-materia .subtitulo .sub-texto {
        max-width: 450px;
    }

    #carousel-imgs img {
        object-fit: cover;
    }
}

@media (max-width: 500px) {
    .area-materia .area-acoes button {
        flex: 1 1 160px;
    }

    .area-materia .titulo {
        text-align: center;
    }

    .area-materia h1 {
        font-size: 18px;
    }

    .container-noticia p {
        font-size: 14px;
    }

    .sub-texto h3 {
        font-size: 16px;
        text-align: center;
    }
}

/* Visão do doador */
#container-principal main.usuario-logado  .container-noticia {
    padding: 30px 10px;
}