<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="tela-relatorios.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Ongs</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </nav>
            <div class="btn-login">
                <button class="btn" id="openPopup" onclick="loginPopup()">LOGIN</button>
                <button onclick="menu_mobile()" id="hamburguer"></button>
            </div>
        </div>
    </header>



    <div id="fundo-popup">
        <div id="popup">
            <div class="msg">
                <h1>Olá, Seja <br> Bem-Vindo!</h1>
                <p>Escolha seu tipo de acesso:</p>
                <ul>
                    <li><i class="fa-solid fa-user"></i><a href="#">Sou um doador</a></li>
                    <li><i class="fa-solid fa-house-flag"></i><a href="#">Sou uma ONG</a></li>
                    <li><i class="fa-solid fa-user-secret"></i></i><a href="#">Administrador</a></li>
                </ul>
            </div>
            <div class="img">
                <img src="../img/celular.png">
            </div>
        </div>
    </div>
    <main>
        <section>
            <div id="principal">
                <div class="topo-relatorios">
                    <h1>RELATÓRIOS</h1>
                </div>
                <div class="conteudo-relatorios">
                    <div class="relatorio-voluntarios">
                        <div class="topo-grafico">
                            <h2>Voluntários por Projeto</h2>
                            <button>
                                <img src="../assets/images/icon-download-report.png" alt="">
                            </button>
                        </div>
                            <img src="../assets/images/graph-vol-proj.png" alt="">
                        <span class="rodape-grafico">
                            <img src="../assets/images/SquareFill.png" alt="">
                            <p>Voluntários</p>
                        </span>
                    </div>
                    <div class="relatorio-doacoes-mensais">
                        <div class="topo-grafico">
                            <h2>Doações Mensais</h2>
                            <button>
                                <img src="../assets/images/icon-download-report.png" alt="">
                            </button>
                        </div>
                        <img src="../assets/images/montly-donation.png" alt="">
                        <span class="rodape-grafico">
                            <img src="../assets/images/donation.png" alt="">
                            <p>Doações</p>
                        </span>
                    </div>
                    <div class="relatorio-doacoes-projeto">
                        <div class="topo-grafico">
                            <h2>Doações por Projeto</h2>
                            <button>
                                <img src="../assets/images/icon-download-report.png" alt="">
                            </button>
                        </div>
                        <img src="../assets//images/pie-graph.png" alt="">
                        <img src="../assets//images/legend-pie-graph.png" alt="">
                    </div>
                    <div class="relatorio-doacoes-voluntario">
                        <div class="topo-grafico">
                            <h2>Doações/Voluntários por Projeto</h2>
                            <button>
                                <img src="../assets/images/icon-download-report.png" alt="">
                            </button>
                        </div>
                        <img src="../assets/images/yAxisTop.png" alt="" id="axis">
                        <img src="../assets/images/volunt-doac-relat.png" alt="">
                        <span class="rodape-grafico">
                            <img src="../assets/images/greenSquare.png" alt="">
                            <p>Doações</p>
                            <img src="../assets/images/blueSquare.png" alt="">
                            <p>Voluntários</p>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="../js/main.js"></script>
</body>

</html>