<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitação de Parceria</title>
  <link rel="stylesheet" href="assets/css/form.css">
</head>
<body>
  <div class="conteiner-forma">
    <h2 class="titulo">
        Solicitação de Parceria</h2>
    <form>
      <label class="Cnpj" for="cnpj">CNPJ</label>
      <input type="text" id="cnpj" placeholder="Ex: 00.000.000/0000-00">
      
      <label class="mens" for="mensagem">Mensagem</label>
      <textarea id="mensagem" placeholder="Ex: Somos a Coca-Cola e gostaríamos de apoiar seu projeto. Aguardo retorno!"></textarea>
      <div class="botoes">
        <div>
          <a href="index.html">VOLTAR</a>
        </div>
        <div>
          <button type="submit">ENVIAR</button>
        </div>
      </div>

    </form>
  </div>
</body>
</html>

