* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.container {
    display: flex;
    background: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Barra lateral */
.sidebar {
    background: #ffffff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px  solid#ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid #000000;
}

.username {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.email {
    font-size: 14px;
    color: #808080;
}

.logout {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #e74c3c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout:hover {
    background: #c0392b;
}

/* Conteúdo principal */
.main-content {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 15px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.info {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    width: 250px;
}

.input-box span {
    font-size: 16px;
    margin-right: 10px;
}

.input-box input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
    outline: none;

}

/* Botão de alterar senha */
.change-password {
    width: 250px;
    padding: 10px;
    background: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.change-password:hover {
    background: #c7c7c7;
}